<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Somebody has submitted a request to schedule a tailoring.</p>
<p>Name: <%= @schedule_tailor_request.name %></p>
<p>Email: <%= @schedule_tailor_request.email %></p>
<p>Zip: <%= @schedule_tailor_request.zip %></p>
<p>Phone: <%= @schedule_tailor_request.phone %></p>
<p>IP Address: <%= @schedule_tailor_request.ip_address %></p>
</body>
</html>