<div class="row">
  <div class="six columns">
    <h2>Account Settings</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>User Information</legend>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :email %>
          <%= f.email_field :email %>
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :autocomplete => "off" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
          <%= f.submit "Save", class: "button full-width large submit" %>
      </fieldset>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <legend>Shipping Address</legend>
        <%= render 'addresses/form', parent_form: f, address_type: :shipping_address %>
        <%= f.submit "Save", class: "button full-width large submit" %>
      </fieldset>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <legend>Billing Information</legend>
        <div class="payment-errors error" style="display: none;">
          <p></p>
        </div>
        <%= render 'users/credit_card_form' %>
        <%= render 'addresses/form', parent_form: f, address_type: :billing_address %>
        <%= hidden_field_tag :stripe_card_token %>
        <%= f.submit "Save", class: "button full-width large submit" %>
      </fieldset>
    <% end %>
  </div>
</div>

<script>
  new TR.Views.EditUser();
</script>

