<% if user.errors.any? %>
  <p class="error">There were some problems submitting your order:</p>
  <ul class="error">
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= fields_for user do |u| %>
  <%= u.label :name %>
  <%= u.text_field :name %>
  <%= u.label :email %>
  <%= u.text_field :email %>
  <%= u.label :password %>
  <%= u.password_field :password %>
  <%= u.label :password_confirmation, 'Confirm Password' %>
  <%= u.password_field :password_confirmation %>
<% end %>