<div class="content-wrapper">
  <h2>User</h2>
  <div class="outlined row">
    <div class="six columns">
      <h4>Contact Info</h4>
      <ul>
        <li>Name: <%= @user.name %></li>
        <li>Email: <%= @user.email if @user.email %></li>
      </ul>
      <h4>Shipping Address</h4>
      <% unless @user.shipping_address.nil? %>
        <ul>
          <li><%= @user.shipping_address.name %></li>
          <li><%= @user.shipping_address.line1 %></li>
          <li><%= @user.shipping_address.line2 %></li>
          <li><%= @user.shipping_address.city %>, <%= @user.shipping_address.state %>, <%= @user.shipping_address.zip %></li>
        </ul>
      <% end %>
      <h4>Billing Address</h4>
      <% unless @user.billing_address.nil? %>
        <ul>
          <li><%= @user.billing_address.name %></li>
          <li><%= @user.billing_address.line1 %></li>
          <li><%= @user.billing_address.line2 %></li>
          <li><%= @user.billing_address.city %>, <%= @user.billing_address.state %>, <%= @user.billing_address.zip %></li>
        </ul>
      <% end %>
    </div>
    <div class="six columns">
      <h4>Measurements</h4>
      <% unless @user.measurement.nil? %>
        <ul>
          <% @user.measurement.display_attributes.each do |key, value| %>
            <li><%= key.titleize %>: <%= value %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back to users', users_path, class: 'button margin-bottom' %>
</div>
