<div class="six columns centered">
  <h2>Forgot your password?</h2>
  <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'outlined' } do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit "Send Reset Password Email", class: "button" %>
  <% end %>
</div>

