<%= form_for coupon, html: { class: 'outlined' } do |f| %>
  <%= render 'shared/form_errors', resource: coupon %>
  <%= f.label :description, 'Description (this will appear on the order)' %>
  <%= f.text_field :description %>
  <%= f.label :discount_type, 'Discount Type' %>
  <%= f.select :discount_type, { 'Fixed' => :fixed, 'Percentage' => :percentage } %>
  <%= f.label :amount, 'Amount (dollar amount for fixed: 10 = $10, percent for percentage: 10 = 10%' %>
  <%= f.text_field :amount %>
  <%= f.label 'Code (used on the order form)' %>
  <%= f.text_field :code %>
  <%= f.label :coupon_type, 'Coupon Type' %>
  <%= f.select :coupon_type, { 'Gift Card' => :gift_card, 'Promotion' => :promotion } %>
  <div class="row">
    <div class="six columns">
      <%= f.label :apply_to_type, 'Apply To' %>
      <%= f.select :apply_to_type, Coupon::APPLY_TO_OPTIONS %>
    </div>
    <div class="six columns">
      <div id="apply-to-group">
        <%= f.label :apply_to_group, 'Apply To Group', class: 'apply-to-group-label' %>
        <%= f.text_field :apply_to_group %>
      </div>
      <div id="apply-to-product" style="display: none;">
        <%= f.label 'Product' %>
        <%= f.select :apply_to_product_id, @products.map { |p| [p.name, p.id] } %>
      </div>
    </div>
  </div>
  <%= f.label :quantity, 'Quantity' %>
  <%= f.text_field :quantity %>
  <%= f.label :max_items, 'Max items (maximum number of matching items in cart that this coupon can be applied to, leave blank for unlimited)' %>
  <%= f.text_field :max_items %>
  <%= f.label :begin_date, 'Begin Date (Optional)' %>
  <%= f.text_field :begin_date %>
  <%= f.label :end_date, 'End Date (Optional)' %>
  <%= f.text_field :end_date %>
  <%= f.submit 'Submit', class: 'button full-width large' %>
<% end %>

<script>
  new TR.Views.Coupon();
</script>

