<div id="shop-display" class="content-wrapper">
  <div id="suits-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</div>

<nav id="sidebar">
</nav>

<script>
  $(function() {
    TR.Pages.Shop.initialize();
  });
</script>