<div id="shop-display" class="content-wrapper">
  <div id="suits-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</div>

<nav id="sidebar">
</nav>

<div id="modal" class="reveal-modal expand">
  <a class="close-reveal-modal">&#215;</a>
  <h2>Classic Charcoal - $329</h2>
  <ul class="modal-suit-preview one columns">
    <li><a href="#"><img src="<%= asset_path "modal-suit-preview.png" %>"></a></li>
    <li><a href="#"><img src="<%= asset_path "modal-suit-preview.png" %>"></a></li>
    <li><a href="#"><img src="<%= asset_path "modal-suit-preview.png" %>"></a></li>
    <li><a href="#"><img src="<%= asset_path "modal-suit-preview.png" %>"></a></li>
  </ul>
  <div class="five columns">
    <div class="magnify">
      <div class="large"></div>
      <img class="main small" src="<%= asset_path "charcoal-grey.jpg" %>">
    </div>
  </div>
  <div class="six columns">
    <p class="blurb">Bring a little flavor to your suit collection. The classic charcoal suit breaks the mold of the
      black and navy tradition without drawing a disapproving look from your stodgy old boss. Stay fly.</p>
    <div class="customizations">

    </div>
  </div>
</div>

<script>
  $(function() {
    TR.Pages.Shop.initialize();
  });
</script>