<div id="shop-display" class="content-wrapper">
  <div id="suits-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</div>

<nav id="sidebar">
</nav>

<script id="modal-template" type="text/x-handlebars-template">
  <a class="close-reveal-modal">&#215;</a>
  <h2>Classic Charcoal<span class="divider">&nbsp;//&nbsp;</span>$329</h2>
  <div class="six columns preview-wrapper">
    <ul class="modal-suit-preview three columns">
      <li><a href="#"><img src="<%= asset_path "suits/modal-suit-preview.png" %>"></a></li>
      <li><a href="#"><img src="<%= asset_path "suits/modal-suit-preview.png" %>"></a></li>
      <li><a href="#"><img src="<%= asset_path "suits/modal-suit-preview.png" %>"></a></li>
      <li><a href="#"><img src="<%= asset_path "suits/modal-suit-preview.png" %>"></a></li>
    </ul>
    <div class="magnify nine columns">
      <div class="large"></div>
      <img class="main small" src="<%= asset_path "suits/charcoal-grey.jpg" %>">
    </div>
  </div>
  <div class="six columns">
    <p class="blurb">Bring a little flavor to your suit collection. The classic charcoal suit breaks the mold of the
      black and navy tradition without drawing a disapproving look from your stodgy old boss. Stay fly.</p>
    <div class="customizations">
      <div class="customization-wrapper" data-type="lapel">
        <h3>Lapel</h3>
        <a href="#" class="customization-option four" class="checked" data-option="notch">
          <h5>Notch</h5>
          <img src="<%= asset_path "customizations/lapel-notch.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="peak">
          <h5>Peak</h5>
          <img src="<%= asset_path "customizations/lapel-peak.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="narrow">
          <h5>Narrow</h5>
          <img src="<%= asset_path "customizations/lapel-narrow.png" %>">
        </a>
        <p>Notch lapels are the most widely used lapels and are a safe and stylish choice for any suit. Peak lapels add a
          little pizazz for those who want to stand out. TR tip: If you are unsure, go with the notch lapel, you don’t
          necessarily want anything to distract from the perfect fit of your tailored suit.</p>
      </div>
      <div class="customization-wrapper" data-type="buttons" style="display: none;">
        <h3>Buttons</h3>
        <a href="#" class="customization-option four" class="checked" data-option="1">
          <h5>One</h5>
          <img src="<%= asset_path "customizations/buttons-one.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="2">
          <h5>Two</h5>
          <img src="<%= asset_path "customizations/buttons-two.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="3">
          <h5>Three</h5>
          <img src="<%= asset_path "customizations/buttons-three.png" %>">
        </a>
        <p>The modern standard and a fashionable choice is the two button suit. four button suits fit more of a classic
          style and look great on taller guys. A one button suit is a very stylish option for those who want to be
          adventurous. TR tip: If you are going to add a vest, stick with the two button jacket.</p>
      </div>
      <div class="customization-wrapper" data-type="vents" style="display: none;">
        <h3>Vents</h3>
        <a href="#" class="customization-option four" class="checked" data-option="0">
          <h5>None</h5>
          <img src="<%= asset_path "customizations/vents-none.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="1">
          <h5>One</h5>
          <img src="<%= asset_path "customizations/vents-one.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="2">
          <h5>Two</h5>
          <img src="<%= asset_path "customizations/vents-two.png" %>">
        </a>
        <p>Having two vents is the traditional, safe and stylish choice. One vent is a way to make your suit modern and
          sleek without distracting from the excellent fit (we love the single vent). TR tip: If you are a shorter guy,
          go ahead and get the double vent, the vertical vents help to draw the eye upward and elongate the body.</p>
      </div>
      <div class="customization-wrapper" data-type="pleats" style="display: none;">
        <h3>Pleats</h3>
        <a href="#" class="customization-option four" class="checked" data-option="0">
          <h5>None</h5>
          <img src="<%= asset_path "customizations/pleats-none.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="1">
          <h5>One</h5>
          <img src="<%= asset_path "customizations/pleats-one.png" %>">
        </a>
        <a href="#" class="customization-option four" data-option="2">
          <h5>Two</h5>
          <img src="<%= asset_path "customizations/pleats-two.png" %>">
        </a>
        <p>Pleats are typically associated with old-fashioned suits. If you are looking for a modern, trendier look, we
          recommend going with no pleats and no cuffs on the pants.</p>
      </div>
      <div class="customization-wrapper two-item" data-type="pant-cuffs" style="display: none;">
        <h3>Cuffs</h3>
        <a href="#" class="customization-option" class="checked" data-option="0">
          <h5>None</h5>
          <img src="<%= asset_path "customizations/cuffs-no.png" %>" class="cuffs">
        </a>
        <a href="#" class="customization-option" data-option="1">
          <h5>Cuffs</h5>
          <img src="<%= asset_path "customizations/cuffs-yes.png" %>" class="cuffs">
        </a>
        <p>Pant cuffs were a suit staple in previous decades, but unless you are going for an older, more classic look,
          we recommend sticking with no pant cuffs. It keeps the suit lines clean and sharp, keeping those heads on a
          swivel.</p>
      </div>
    </div>
  </div>
</script>

<script>
  $(function() {
    new TR.Views.Shop();
  });
</script>