<% title_helper("Shop - #@display_category") %>

<% if flash[:notice] == SCHEDULE_TAILOR_NOTICE %>
  <%= render 'shared/facebook_conversion_pixel' %>
<% end %>

  <div id="shop">
  <div class="content-wrapper">
    <h2>Shop <span class="divider">//</span> <%= @display_category %></h2>
    <h5><%= link_to 'Suits', '/shop/suits', class: ('selected' if @display_category == 'Suits') %> <span class="divider">//</span> <%= link_to 'Shirts', '/shop/shirts', class: ('selected' if @display_category == 'Shirts') %> <span class="divider">//</span> <%= link_to 'Accessories', '/shop/accessories', class: ('selected' if @display_category == 'Accessories') %></h5>
  </div>
  <%= render 'products/products', products: @products %>
</div>

<script>
  $(function() {
    new TR.Views.Shop({products: <%= @products.to_json.html_safe %>});
  });
</script>