<article id="process" class="content-wrapper" data-magellan-destination="process">
  <h2 class="twelve columns">
    <span class="article-title">
      THE PROCESS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="row">
    <div class="four columns">
      <h4>Choose your suit</h4>
      <div class="image-wrapper">
        <a href="/shop/suits"><%= image_tag "process/choose-suit.png" %></a>
      </div>
      <p>Getting a tailored suit will change your suit game completely. It as an eye-opening realization when your suit
        fits properly. <%= link_to 'Choose your suit', '/shop/suits' %> fabric/pattern and get started.</p>
    </div>
    <div class="four columns">
      <h4>Customize your suit</h4>
      <div class="image-wrapper">
        <a href="/shop/suits"><%= image_tag "process/customize-suit.png" %></a>
      </div>
      <p>Make your suit yours. Customize your button options, linings, lapels, and personalize it with an embroidered
        monogram. Consult our <a href="#">style guide</a> so we can help you do you.</p>
    </div>
    <div class="four columns">
      <h4>Input your measurements</h4>
      <div class="image-wrapper">
        <a href="/measurements"><%= image_tag "process/input-measurements.png" %></a>
      </div>
      <p>If you don’t know this already, it is all about the Tailored fit. Grab a friend and use our
        <%= link_to 'simple videos', measurements_path %> to measure yourself in 10 quick minutes. Don’t have a tape
        measure? <%= link_to 'Input your info here', measuring_tape_path %> and we will send you a free one.</p>
    </div>
  </div>
</article>