<p>Name: <%= resource.shipping_address.name %></p>
<p>Email: <%= resource.email %></p>
<p>IP Address: <%= resource.ip_address %></p>
<p>Line 1: <%= resource.shipping_address.line1 %></p>
<p>Line 2: <%= resource.shipping_address.line2 %></p>
<p>City: <%= resource.shipping_address.city %></p>
<p>State: <%= resource.shipping_address.state %></p>
<p>Zip: <%= resource.shipping_address.zip %></p>