<p>Like us, follow us, tweet us, share us, greet us, meet us, or just wear us:</p>
<ul class="social-media-dock">
  <a href="http://www.facebook.com/TailoredRepublic" target="_blank">
    <li><%= image_tag 'icons/social/facebook-icon-black.png' %></li>
  </a>
  <a href="https://twitter.com/T_Republic" target="_blank">
    <li><%= image_tag 'icons/social/twitter-icon-black.png' %></li>
  </a>
  <a href="http://instagram.com/tailoredrepublic" target="_blank">
    <li><%= image_tag 'icons/social/instagram-icon-black.png' %></li>
  </a>
  <a href="http://blog.tailoredrepublic.com" target="_blank">
    <li><%= image_tag 'icons/social/tumblr-icon-black.png' %></li>
  </a>
  <a href="mailto:info@tailoredrepublic.com">
    <li><%= image_tag 'icons/social/email-icon-black.png' %></li>
  </a>
</ul>