<article id="home">
  <img id="logo" src="<%= asset_path "logos/logo-shield.png" %>" alt="Tailored Republic">
  <img src="<%= asset_path "background-main.png" %>">
  <div id="home-navigation">
    <a href="#">log in</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">register</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="/shop">SHOP</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a id="continue" href="#process">or continue scrolling</a>
  </div>
  <a class="page-down" href="#process"><img src="<%= asset_path "icons/page-down.png" %>"></a>
</article>

<article id="process">
  <h2>THE PROCESS</h2>
  <%= render "home/login_register" %>
  <div class="content-wrapper">
    <div class="four columns">
      <h4>Choose your suit</h4>
      <img src="<%= asset_path "process/choose-suit.png" %>">
      <p>Getting a tailored suit will change your suit game completely. It as an eye-opening realization when your suit
        fits properly. <a href="#">Choose your suit</a> fabric/pattern and get started.</p>
    </div>
    <!--<div class="one columns">-->
      <!--<img src="<%= asset_path "process/divider.png" %>">-->
    <!--</div>-->
    <div class="four columns">
      <h4>Customize your suit</h4>
      <img src="<%= asset_path "process/customize-suit.png" %>">
      <p>Make your suit yours. Customize your button options, linings, lapels, and personalize it with an embroidered
        monogram. Consult our <a href="#">style guide</a> so we can help you do you.</p>
    </div>
    <div class="four columns">
      <h4>Input your measurements</h4>
      <img src="<%= asset_path "process/input-measurements.png" %>">
      <p>If you don’t know this already, it is all about the Tailored fit. Grab a friend and use our
        <a href="#">simple videos</a> to measure yourself in 10 quick minutes. Don’t have a tape measure? Input your
        info <a href="#">here</a> and we will send you a free one.</p>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="twelve columns">
      <h4>Rock your suit</h4>
      <p>We know you look good, you know you look good. Load a picture of you in your new TR suit to our
        <a href="#">gallery</a> or to a social media outlet of your choice, tag us and we will hook you up with some
        gift card action to the tune of 20 dollars.</p>
    </div>
  </div>
</article>

<article id="top-picks">
  <h2>TOP PICKS</h2>
  <%= render "home/login_register" %>
  <div id="suits-wrapper" class="content-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</article>

<article id="bosses">
  <img src="<%= asset_path "bosses.jpg" %>">
</article>

<article id="about">
  <h2>ABOUT US</h2>
  <%= render "home/login_register" %>
  <div class="content-wrapper">
    <div id="blurb" class="four columns">
      <p>
        <span class="divider">/&nbsp;/&nbsp;</span>
        Tailored Republic, custom-tailored suits for everyman, was born of a journey across the globe. From our adventure
        we discovered our passion: bringing the confidence that comes from wearing a perfectly tailored suit to everyman
        through the Tailored experience.
      </p>
      <p>As we journeyed, we met and partnered with master tailors. We found a way to bring their craftsmanship to
        everyman. We created an accurate, online measuring process that promises exquisitely custom-fitted Tailored
        Republic garments guaranteed to fit you. We stand behind every Tailored Republic suit, and that means it will fit
        you the way a tailored suit should fit. And if it doesn’t, we’ll fix it at no cost to you.
      </p>
    </div>
    <div id="get-tailored" class="four columns">
      <ul>
        <li>SHARE OUR PASSION.</li>
        <li>FEEL THE CONFIDENCE.</li>
        <li>GET TAILORED.</li>
        <li>JOIN THE REPUBLIC.</li>
      </ul>
    </div>
    <div class="four columns">
      <img src="<%= asset_path "textures/about-print.png" %>">
    </div>
  </div>
</article>

<article id="constitution">
  <div class="three columns">
    <img src="<%= asset_path "logos/constitution.png" %>">
  </div>
  <div class="nine columns">
    <p class="constitution">We the founders of the Tailored Republic, in order to build a more perfect suit:<br>
      <span class="divider">//</span>
      Establish Seamless Quality <span class="divider">//</span> Insure Unwavering Confidence
      <span class="divider">//</span> Empower The Ambitious Man <span class="divider">//</span> & Promote Style With
      Affordability. We ordain & establish this promise in order to create a more suitable, Tailored Republic, of man.
    </p>
    <p class="extra">- Full remakes for suits/shirts that may not fit - Up to $75 in alteration credit - Complete
      customer satisfaction</p>
  </div>
</article>

<article id="lookbook">
  <h2>LOOKBOOK</h2>
  <span id="lookbook-info" class="orbit-caption">
    <span class="suit">Charcoal grey suit</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="accessory">Tie by Armani</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="location">Los Angeles, CA</span>
  </span>
  <div id="slideshow">
    <img src="<%= asset_path "lookbook/lookbook-1.png" %>" alt="Test caption 1" data-suit="Charcoal grey suit"
         data-accessory="Tie by Armani" data-location="Los Angeles, CA">
    <img src="<%= asset_path "lookbook/lookbook-1.png" %>" alt="Test caption 2" data-suit="Poop colored suit"
         data-accessory="Tie by JB" data-location="San Francisco, CA">
    <img src="<%= asset_path "lookbook/lookbook-1.png" %>" alt="Test caption 3" data-suit="Semen flavored suit"
         data-accessory="Tie by Brian" data-location="Portland, OR">
    <img src="<%= asset_path "lookbook/lookbook-1.png" %>" alt="Test caption 4" data-suit="Unfitted piece of shit"
         data-accessory="Tie by Nordstorm" data-location="Seattle, WA">
  </div>
</article>

<footer id="info">
  <div class="content-wrapper">
    <div class="strikethrough"></div>
    <div class="two columns">
      <h5>POLICIES</h5>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Return Policy/Alterations</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>
    <div class="two columns">
      <h5>CUSTOMER SERVICE</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact US</a></li>
        <li><a href="#">Measurements</a></li>
        <li><a href="#">Get A Free Measuring Tape</a></li>
      </ul>
    </div>
    <div class="two columns">
      <h5>ETCETERA</h5>
      <ul>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Get #Tailored Kit</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5>CONTACT</h5>
      <ul>
        <li>E&nbsp;//&nbsp;info@tailoredrepublic.com</li>
        <li>#&nbsp;//&nbsp;213-8-TAILOR (213-382-4567)</li>
        <li><a href="mailto:info@tailoredrepublic.com" class="button">EMAIL US</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5>SUBSCRIBE</h5>
      <input type="text" placeholder="enter email...">
      <input type="submit" value="SUBMIT">
    </div>
  </div>
</footer>

<nav id="sidebar">
  <ul>
    <li class="process"><a href="#process">The Process</a></li>
    <li class="top-picks"><a href="#top-picks">Top Picks</a></li>
    <li class="about"><a href="#about">About</a></li>
    <li class="lookbook"><a href="#lookbook">Lookbook</a></li>
    <li class="info"><a href="#info">Info</a></li>
    <li class="cart">
      <a href="<%= shop_or_cart %>">
        <img src="<%= asset_path "icons/shopping-cart.png" %>"> (<%= @item_count %>)
      </a>
    </li>
  </ul>
</nav>

<script>
  $(function() {
    new TR.Views.Home();
  });
</script>