<article id="home">
  <div class="parallax">
    <%= image_tag "background-main-3.jpg", class: "background" %>
    <div class="shop-schedule">
      <%= link_to 'SHOP NOW', '/shop/suits' %>
      <%= link_to 'SCHEDULE A TAILORING', '#' %>
    </div>
    <a class="page-down" href="/#process"><%= image_tag "icons/down-arrow.png" %></a>
  </div>
</article>

<article id="process" class="content-wrapper" data-magellan-destination="process">
  <h2>
    <span class="article-title">
      THE PROCESS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="row">
    <div class="four columns">
      <h4>Choose your suit</h4>
      <div class="image-wrapper">
        <a href="/shop/suits"><%= image_tag "process/choose-suit.png" %></a>
      </div>
      <p>Getting a tailored suit will change your suit game completely. It as an eye-opening realization when your suit
        fits properly. <%= link_to 'Choose your suit', '/shop/suits' %> fabric/pattern and get started.</p>
    </div>
    <div class="four columns">
      <h4>Customize your suit</h4>
      <div class="image-wrapper">
        <a href="#"><%= image_tag "process/customize-suit.png" %></a>
      </div>
      <p>Make your suit yours. Customize your button options, linings, lapels, and personalize it with an embroidered
        monogram. Consult our <a href="#">style guide</a> so we can help you do you.</p>
    </div>
    <div class="four columns">
      <h4>Input your measurements</h4>
      <div class="image-wrapper">
        <a href="/measurements"><%= image_tag "process/input-measurements.png" %></a>
      </div>
      <p>If you don’t know this already, it is all about the Tailored fit. Grab a friend and use our
        <%= link_to 'simple videos', measurements_path %> to measure yourself in 10 quick minutes. Don’t have a tape
        measure? Input your info <%= link_to 'here', measuring_tape_path %> and we will send you a free one.</p>
    </div>
  </div>
  <div class="row">
    <div class="four columns centered">
      <h4>Rock your suit</h4>
      <p>We know you look good, you know you look good. Load a picture of you in your new TR suit to our
        <a href="#">gallery</a> or to a social media outlet of your choice, tag us and we will hook you up with some
        gift card action to the tune of 20 dollars.</p>
    </div>
  </div>
</article>

<article id="top-picks" class="content-wrapper" data-magellan-destination="top-picks">
  <h2>
    <span class="article-title">
      TOP PICKS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="products-wrapper">
    <h4>A hand-selected showcase of our favorite suits</h4>
    <%= render @top_picks %>
  </div>
</article>

<article id="bosses">
  <%= image_tag "bosses.jpg" %>
</article>

<article id="about" class="content-wrapper" data-magellan-destination="about">
  <h2>
    <span class="article-title">
      ABOUT US
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div id="blurb" class="six columns">
    <p>
      <span class="divider">//</span>
      Here at Tailored Republic we are all about breaking the mold. People keep telling us that if we want to operate a
      tailored suit company that we need to move to New York or London. Well, we kind of like Los Angeles to tell you
      the truth.
    </p>
    <p>Just because we love wearing beautifully crafted suits doesn’t mean that we don’t also enjoy road trips
      to Vegas or basking in 80 degree November weather in a dog pile of sweaty, beautiful people at a live outdoor
      concert for a band that won’t tour in other cities until 2015. It is the perfect fit for the lifestyle that we
      want to live. And that’s what it comes down to, doesn’t it? Finding the perfect fit.
    </p>
    <p>At a certain point during the Tailored Republic process, it stops being about just buying a suit anymore. Things
      become about you. We realize that dressing well is not about being somebody you are not, it is about being the
      best version of you. From the lining to the number of buttons to the shape of the lapel, we want you to do you!
    </p>
  </div>
  <div class="six columns">
    <h3>"We realize that dressing well is not about being somebody that you are not, it is about being the best version
      of you."</h3>
    <%= image_tag 'about-us-man-2.jpg' %>
  </div>
</article>

<article id="constitution">
  <div class="four columns">
    <%= image_tag "logos/constitution.png" %>
  </div>
  <div class="eight columns">
    <div class="constitution">
      <p>We the founders of the Tailored Republic, in order to build a more perfect suit:</p>
      <p><span class="divider">//</span> Establish Seamless Quality</p>
      <p><span class="divider">//</span> Ensure Unwavering Confidence</p>
      <p><span class="divider">//</span> Empower The Ambitious Man </p>
      <p><span class="divider">//</span> & Promote Style With Affordability.</p>
      <p>We ordain & establish this promise in order to create a more suitable, Tailored Republic, of man.</p>
    </div>
    <p class="extra">
      Full remakes for suits/shirts that may not fit <span class="divider">//</span> Up to $75 in alteration credit <span class="divider">//</span> Complete customer satisfaction
    </p>
   </div>
</article>

<article id="no-fabrication">
  <div class="content-wrapper">
    <div class="twelve columns">
      <h3>NO FABRICATION, JUST A TAILORED NATION</h3>
    </div>
  </div>
</article>

<article id="lookbook" data-magellan-destination="lookbook">
  <h2><span class="article-title">LOOKBOOK</span></h2>
  <div id="lookbook-info" class="orbit-caption">
    <span class="suit">Charcoal grey suit</span>
    <span class="divider">//</span>
    <span class="accessory">Tie by Armani</span>
    <span class="divider">//</span>
    <span class="location">Los Angeles, CA</span>
  </div>
  <div id="slideshow">
    <%= image_tag "lookbook/lookbook-1.jpg", data: {
      suit: "Charcoal grey suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-2.jpg", data: {
      suit: "Black pinstripe suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-3.jpg", data: {
      suit: "Grey wool suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-4.jpg", data: {
      suit: "Sharktooth suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
  </div>
</article>

<%= render "layouts/footer" %>

<script>
  $(function() {
    new TR.Views.Home({products: <%= @top_picks.to_json.html_safe %>});
  });
</script>