<article id="home">
  <div class="parallax">
    <%= image_tag "logos/logo-shield.png", id: "logo", alt: "Tailored Republic" %>
    <%= image_tag "background-main-2.jpg", class: "background" %>
    <h3>custom crafted suits</h3>
    <a class="page-down" href="/#process"><%= image_tag "icons/down-arrow.png" %></a>
  </div>
</article>

<article id="process">
  <h2>
    <span class="article-title">
      THE PROCESS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="row content-wrapper">
    <div class="four columns">
      <h4>Choose your suit</h4>
      <div class="image-wrapper">
        <%= image_tag "process/choose-suit.png" %>
      </div>
      <p>Getting a tailored suit will change your suit game completely. It as an eye-opening realization when your suit
        fits properly. <a href="#">Choose your suit</a> fabric/pattern and get started.</p>
    </div>
    <div class="four columns">
      <h4>Customize your suit</h4>
      <div class="image-wrapper">
        <%= image_tag "process/customize-suit.png" %>
      </div>
      <p>Make your suit yours. Customize your button options, linings, lapels, and personalize it with an embroidered
        monogram. Consult our <a href="#">style guide</a> so we can help you do you.</p>
    </div>
    <div class="four columns">
      <h4>Input your measurements</h4>
      <div class="image-wrapper">
        <%= image_tag "process/input-measurements.png" %>
      </div>
      <p>If you don’t know this already, it is all about the Tailored fit. Grab a friend and use our
        <a href="#">simple videos</a> to measure yourself in 10 quick minutes. Don’t have a tape measure? Input your
        info <a href="#">here</a> and we will send you a free one.</p>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="twelve columns">
      <h4>Rock your suit</h4>
      <p>We know you look good, you know you look good. Load a picture of you in your new TR suit to our
        <a href="#">gallery</a> or to a social media outlet of your choice, tag us and we will hook you up with some
        gift card action to the tune of 20 dollars.</p>
    </div>
  </div>
</article>

<article id="top-picks">
  <h2>
    <span class="article-title">
      TOP PICKS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="content-wrapper suits-wrapper">
    <h4>A hand-selected showcase of our favorite suits</h4>
  </div>
</article>

<article id="bosses">
  <%= image_tag "bosses.jpg" %>
</article>

<article id="about">
  <h2>
    <span class="article-title">
      ABOUT US
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div class="content-wrapper">
    <div id="blurb" class="four columns">
      <p>
        <span class="divider">/&nbsp;/&nbsp;</span>
        Tailored Republic, custom-tailored suits for everyman, was born of a journey across the globe. From our adventure
        we discovered our passion: bringing the confidence that comes from wearing a perfectly tailored suit to everyman
        through the Tailored experience.
      </p>
      <p>As we journeyed, we met and partnered with master tailors. We found a way to bring their craftsmanship to
        everyman. We created an accurate, online measuring process that promises exquisitely custom-fitted Tailored
        Republic garments guaranteed to fit you. We stand behind every Tailored Republic suit, and that means it will fit
        you the way a tailored suit should fit. And if it doesn’t, we’ll fix it at no cost to you.
      </p>
    </div>
    <div id="get-tailored" class="four columns">
      <ul>
        <li>SHARE OUR PASSION.</li>
        <li>FEEL THE CONFIDENCE.</li>
        <li>GET TAILORED.</li>
        <li>JOIN THE REPUBLIC.</li>
      </ul>
    </div>
    <div class="four columns">
      <%= image_tag "textures/about-print.png" %>
    </div>
  </div>
</article>

<article id="constitution">
  <div class="three columns">
    <%= image_tag "logos/constitution.png" %>
  </div>
  <div class="nine columns">
    <div class="constitution">
      <p>We the founders of the Tailored Republic, in order to build a more perfect suit:</p>
      <p><span class="divider">//</span> Establish Seamless Quality</p>
      <p><span class="divider">//</span> Ensure Unwavering Confidence</p>
      <p><span class="divider">//</span> Empower The Ambitious Man </p>
      <p><span class="divider">//</span> & Promote Style With Affordability.</p>
      <p>We ordain & establish this promise in order to create a more suitable, Tailored Republic, of man.</p>
    </div>
    <p class="extra">Full remakes for suits/shirts that may not fit <span class="divider">//</span> Up to $75 in
      alteration credit <span class="divider">//</span> Complete customer satisfaction</p>
  </div>
</article>

<article id="no-fabrication">
  <div class="content-wrapper">
    <div class="twelve columns">
      <h3>NO FABRICATION, JUST A TAILORED NATION</h3>
    </div>
  </div>
</article>

<article id="lookbook">
  <h2>
    <span class="article-title">
      LOOKBOOK
      <span class="strikethrough"></span>
    </span>
  </h2>
  <div id="lookbook-info" class="orbit-caption">
    <span class="suit">Charcoal grey suit</span>
    <span class="divider">//&nbsp;</span>
    <span class="accessory">Tie by Armani</span>
    <span class="divider">//</span>
    <span class="location">Los Angeles, CA</span>
  </div>
  <div id="slideshow">
    <%= image_tag "lookbook/lookbook-1.jpg", data: {
      suit: "Charcoal grey suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-2.jpg", data: {
      suit: "Black pinstripe suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-3.jpg", data: {
      suit: "Grey wool suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-4.jpg", data: {
      suit: "Sharktooth suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
  </div>
</article>

<%= render "layouts/footer" %>

<script>
  $(function() {
    new TR.Views.Home({products: <%= @top_picks.to_json.html_safe %>});
  });
</script>