<article id="home">
  <img id="logo" src="<%= asset_path "logo-shield.png" %>" alt="Tailored Republic">
  <img src="<%= asset_path "background-main.png" %>">
  <div id="home-navigation">
    <a href="#">log in</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">register</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">SHOP</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a id="continue" href="#process">or continue scrolling</a>
  </div>
  <a class="page-down" href="#process"><img src="<%= asset_path "page-down.png" %>"></a>
</article>

<article id="process">
  <h2>THE PROCESS</h2>
  <%= render "home/login_register" %>
</article>

<article id="top-picks">
  <h2>Top Picks</h2>
  <%= render "home/login_register" %>
  <div id="suits-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</article>

<article id="bosses">
  <img src="<%= asset_path "bosses.jpg" %>">
</article>

<article id="about">
  <h2>About Us</h2>
  <%= render "home/login_register" %>
</article>

<nav id="sidebar">
  <ul>
    <li class="process"><a href="#process">The Process</a></li>
    <li class="top-picks"><a href="#top-picks">Top Picks</a></li>
    <li class="about"><a href="#about">About</a></li>
    <li class="lookbook"><a href="#">Lookbook</a></li>
    <li class="info"><a href="#">Info</a></li>
  </ul>
</nav>
