<article id="home">
  <%= image_tag "logos/logo-shield.png", id: "logo", alt: "Tailored Republic" %>
  <%= image_tag "background-main.jpg" %>
  <div id="home-navigation">
    <a href="#">log in</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">register</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="/shop">SHOP</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a id="continue" href="#process">or continue scrolling</a>
  </div>
  <a class="page-down" href="#process"><%= image_tag "icons/page-down.png" %></a>
</article>

<article id="process">
  <h2>
    <span class="article-title">
      THE PROCESS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <%= render "home/login_register" %>
  <div class="content-wrapper">
    <div class="four columns">
      <h4>Choose your suit</h4>
      <div class="image-wrapper">
        <%= image_tag "process/choose-suit.png" %>
      </div>
      <p>Getting a tailored suit will change your suit game completely. It as an eye-opening realization when your suit
        fits properly. <a href="#">Choose your suit</a> fabric/pattern and get started.</p>
    </div>
    <div class="four columns">
      <h4>Customize your suit</h4>
      <div class="image-wrapper">
        <%= image_tag "process/customize-suit.png" %>
      </div>
      <p>Make your suit yours. Customize your button options, linings, lapels, and personalize it with an embroidered
        monogram. Consult our <a href="#">style guide</a> so we can help you do you.</p>
    </div>
    <div class="four columns">
      <h4>Input your measurements</h4>
      <div class="image-wrapper">
        <%= image_tag "process/input-measurements.png" %>
      </div>
      <p>If you don’t know this already, it is all about the Tailored fit. Grab a friend and use our
        <a href="#">simple videos</a> to measure yourself in 10 quick minutes. Don’t have a tape measure? Input your
        info <a href="#">here</a> and we will send you a free one.</p>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="twelve columns">
      <h4>Rock your suit</h4>
      <p>We know you look good, you know you look good. Load a picture of you in your new TR suit to our
        <a href="#">gallery</a> or to a social media outlet of your choice, tag us and we will hook you up with some
        gift card action to the tune of 20 dollars.</p>
    </div>
  </div>
</article>

<article id="top-picks">
  <h2>
    <span class="article-title">
      TOP PICKS
      <span class="strikethrough"></span>
    </span>
  </h2>
  <%= render "home/login_register" %>
  <div id="suits-wrapper" class="content-wrapper">
    <%= render @top_picks %>
  </div>
</article>

<article id="bosses">
  <%= image_tag "bosses.jpg" %>
</article>

<article id="about">
  <h2>
    <span class="article-title">
      ABOUT US
      <span class="strikethrough"></span>
    </span>
  </h2>
  <%= render "home/login_register" %>
  <div class="content-wrapper">
    <div id="blurb" class="four columns">
      <p>
        <span class="divider">/&nbsp;/&nbsp;</span>
        Tailored Republic, custom-tailored suits for everyman, was born of a journey across the globe. From our adventure
        we discovered our passion: bringing the confidence that comes from wearing a perfectly tailored suit to everyman
        through the Tailored experience.
      </p>
      <p>As we journeyed, we met and partnered with master tailors. We found a way to bring their craftsmanship to
        everyman. We created an accurate, online measuring process that promises exquisitely custom-fitted Tailored
        Republic garments guaranteed to fit you. We stand behind every Tailored Republic suit, and that means it will fit
        you the way a tailored suit should fit. And if it doesn’t, we’ll fix it at no cost to you.
      </p>
    </div>
    <div id="get-tailored" class="four columns">
      <ul>
        <li>SHARE OUR PASSION.</li>
        <li>FEEL THE CONFIDENCE.</li>
        <li>GET TAILORED.</li>
        <li>JOIN THE REPUBLIC.</li>
      </ul>
    </div>
    <div class="four columns">
      <%= image_tag "textures/about-print.png" %>
    </div>
  </div>
</article>

<article id="constitution">
  <div class="three columns">
    <%= image_tag "logos/constitution.png" %>
  </div>
  <div class="nine columns">
    <div class="constitution">
      <p>We the founders of the Tailored Republic, in order to build a more perfect suit:</p>
      <p><span class="divider">//</span> Establish Seamless Quality</p>
      <p><span class="divider">//</span> Ensure Unwavering Confidence</p>
      <p><span class="divider">//</span> Empower The Ambitious Man </p>
      <p><span class="divider">//</span> & Promote Style With Affordability.</p>
      <p>We ordain & establish this promise in order to create a more suitable, Tailored Republic, of man.</p>
    </div>
    <p class="extra">Full remakes for suits/shirts that may not fit <span class="divider">//</span> Up to $75 in
      alteration credit <span class="divider">//</span> Complete customer satisfaction</p>
  </div>
</article>

<article id="no-fabrication">
  <div class="content-wrapper">
    <div class="twelve columns">
      <h3>NO FABRICATION, JUST A TAILORED NATION</h3>
    </div>
  </div>
</article>

<article id="lookbook">
  <h2>
    <span class="article-title">
      LOOKBOOK
      <span class="strikethrough"></span>
    </span>
  </h2>
  <span id="lookbook-info" class="orbit-caption">
    <span class="suit">Charcoal grey suit</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="accessory">Tie by Armani</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="location">Los Angeles, CA</span>
  </span>
  <div id="slideshow">
    <%= image_tag "lookbook/lookbook-1.png", data: {
      suit: "Charcoal grey suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-1.png", data: {
      suit: "Black pinstripe suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-1.png", data: {
      suit: "Grey wool suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
    <%= image_tag "lookbook/lookbook-1.png", data: {
      suit: "Sharktooth suit", accessory: "Tie by Armani", location: "Los Angeles, CA"
    } %>
  </div>
</article>

<footer id="info">
  <div class="content-wrapper">
    <div class="strikethrough"></div>
    <div class="three columns">
      <h5>CUSTOMER SERVICE</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Measurements</a></li>
        <li><a href="#">Get A Free Measuring Tape</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5>ETCETERA</h5>
      <ul>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Get #Tailored Kit</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5>CONTACT</h5>
      <ul>
        <li>
          <strong>E</strong>&nbsp;//&nbsp;<a href="mailto:info@tailoredrepublic.com">info@tailoredrepublic.com</a>
        </li>
        <li><strong>#</strong>&nbsp;//&nbsp;213-8-TAILOR (213-382-4567)</li>
        <li class="social">
          <a href="mailto:info@tailoredrepublic.com">
            <%= image_tag "icons/email-icon.png" %>
          </a>
          <a href="http://www.facebook.com/TailoredRepublic" target="_blank">
            <%= image_tag "icons/facebook-icon.png" %>
          </a>
          <a href="https://twitter.com/T_Republic" target="_blank">
            <%= image_tag "icons/twitter-icon.png" %>
          </a>
          <a href="http://instagram.com/tailoredrepublic" target="_blank">
            <%= image_tag "icons/instagram-icon.png" %>
          </a>
          <a href="http://blog.tailoredrepublic.com" target="_blank">
            <%= image_tag "icons/tumblr-icon.png" %>
          </a>
        </li>
      </ul>
    </div>
    <div class="three columns">
      <h5>SUBSCRIBE</h5>
      <ul>
        <li>// Become an affiliate of the republic</li>
      </ul>
      <input type="text" placeholder="enter email...">
      <input type="submit" value="SUBMIT">
    </div>
  </div>
</footer>

<nav id="sidebar">
  <ul>
    <li class="process"><a href="#process">The Process</a></li>
    <li class="top-picks"><a href="#top-picks">Top Picks</a></li>
    <li class="about"><a href="#about">About</a></li>
    <li class="lookbook"><a href="#lookbook">Lookbook</a></li>
    <li class="info"><a href="#info">Info</a></li>
    <li class="cart">
      <a href="<%= shop_or_cart %>">
        <%= image_tag "icons/shopping-cart.png" %> (<%= @cart.num_items %>)
      </a>
    </li>
  </ul>
</nav>

<script>
  $(function() {
    new TR.Views.Home();
  });
</script>