<% title_helper('Custom Tailored Suits') %>

<article id="home">
  <div class="parallax">
    <%= image_tag "background-main.jpg", class: "background" %>
    <div class="shop-now-splash">
      <%= link_to 'SHOP NOW', '/shop/suits' %>
    </div>
    <!--[if lt IE 9]>
    <p class="upgrade-browser">It looks like you're using an old version of Internet Explorer. For an optimal
    browsing experience, we recommend that you <%= link_to 'upgrade your browser to the newest version.', 'http://windows.microsoft.com/en-US/internet-explorer/download-ie' %>
    </p>
    <![endif]-->
    <a class="page-down" href="/#process"><%= image_tag "icons/down-arrow.png" %></a>
  </div>
</article>

<%= render 'shared/process' %>
<%= render 'shared/top_picks', top_picks: @top_picks %>

<article id="bosses">
  <%= image_tag "bosses.jpg" %>
</article>

<%= render 'shared/about' %>

<article id="constitution">
  <div class="four columns">
    <%= image_tag "logos/constitution.png" %>
  </div>
  <div class="eight columns">
    <div class="constitution">
      <p>We, the founders of the Tailored Republic, in order to build a more perfect suit:</p>
      <p><span class="divider">//</span> Establish Seamless Quality,</p>
      <p><span class="divider">//</span> Ensure Unwavering Confidence,</p>
      <p><span class="divider">//</span> Empower The Ambitious Man,</p>
      <p><span class="divider">//</span> & Promote Style With Affordability.</p>
      <p>We ordain & establish this promise in order to create a more Suitable, Tailored Republic, of Men.</p>
    </div>
    <p class="extra">
      Full remakes for suits/shirts that may not fit <span class="divider">//</span> Up to $75 in alteration credit <span class="divider">//</span> Complete customer satisfaction
    </p>
   </div>
</article>

<article id="no-fabrication">
  <div class="content-wrapper">
    <div class="twelve columns">
      <h3>BE THE BEST DRESSED MAN IN THE ROOM.</h3>
    </div>
  </div>
</article>

<%= render 'shared/lookbook' %>
<%= render 'layouts/footer' %>

<script>
  $(function() {
    new TR.Views.Home({products: <%= @top_picks.to_json.html_safe %>});

    <% if session.has_key?(:referred_by) %>
      mixpanel.track('Entered Through Referral Link', {'Referral Code': '<%= session[:referred_by] %>'});
    <% end %>
  });
</script>