<article id="home">
  <img id="logo" src="<%= asset_path "logo-shield.png" %>" alt="Tailored Republic">
  <img src="<%= asset_path "background-main.png" %>">
  <div id="home-navigation">
    <a href="#">log in</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">register</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="/shop">SHOP</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a id="continue" href="#process">or continue scrolling</a>
  </div>
  <a class="page-down" href="#process"><img src="<%= asset_path "page-down.png" %>"></a>
</article>

<article id="process">
  <h2>THE PROCESS</h2>
  <%= render "home/login_register" %>
</article>

<article id="top-picks">
  <h2>TOP PICKS</h2>
  <%= render "home/login_register" %>
  <div id="suits-wrapper" class="content-wrapper">
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
    <%= render "home/suit_wrapper" %>
  </div>
</article>

<article id="bosses">
  <img src="<%= asset_path "bosses.jpg" %>">
</article>

<article id="about">
  <h2>ABOUT US</h2>
  <%= render "home/login_register" %>
  <div class="content-wrapper">
    <img src="<%= asset_path "about-print.png" %>">
    <div id="blurb" class="four columns">
      <p>
        <span class="divider">/&nbsp;/&nbsp;</span>
        Tailored Republic, custom-tailored suits for everyman, was born of a journey across the globe. From our adventure
        we discovered our passion: bringing the confidence that comes from wearing a perfectly tailored suit to everyman
        through the Tailored experience.
      </p>
      <p>As we journeyed, we met and partnered with master tailors. We found a way to bring their craftsmanship to
        everyman. We created an accurate, online measuring process that promises exquisitely custom-fitted Tailored
        Republic garments guaranteed to fit you. We stand behind every Tailored Republic suit, and that means it will fit
        you the way a tailored suit should fit. And if it doesn’t, we’ll fix it at no cost to you.
      </p>
    </div>
    <div class="four columns"></div>
    <div id="get-tailored" class="four columns">
      <ul>
        <li>SHARE OUR PASSION.</li>
        <li>FEEL THE CONFIDENCE.</li>
        <li>GET TAILORED.</li>
        <li>JOIN THE REPUBLIC.</li>
      </ul>
    </div>
  </div>
</article>

<article id="lookbook">
  <h2>LOOKBOOK</h2>
  <span id="lookbook-info" class="orbit-caption">
    <span class="suit">Charcoal grey suit</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="accessory">Tie by Armani</span>
    <span>/&nbsp;/&nbsp;</span>
    <span class="location">Los Angeles, CA</span>
  </span>
  <div id="slideshow">
    <img src="<%= asset_path "lookbook-1.png" %>" alt="Test caption 1" data-suit="Charcoal grey suit"
         data-accessory="Tie by Armani" data-location="Los Angeles, CA">
    <img src="<%= asset_path "lookbook-1.png" %>" alt="Test caption 2" data-suit="Poop colored suit"
         data-accessory="Tie by JB" data-location="San Francisco, CA">
    <img src="<%= asset_path "lookbook-1.png" %>" alt="Test caption 3" data-suit="Semen flavored suit"
         data-accessory="Tie by Brian" data-location="Portland, OR">
    <img src="<%= asset_path "lookbook-1.png" %>" alt="Test caption 4" data-suit="Unfitted piece of shit"
         data-accessory="Tie by Nordstorm" data-location="Seattle, WA">
  </div>
</article>

<footer id="info">
  <div class="content-wrapper">
    <div class="strikethrough"></div>
    <div class="two columns">
      <h4>POLICIES</h4>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Return Policy/Alterations</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>
    <div class="two columns">
      <h4>CUSTOMER SERVICE</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact US</a></li>
        <li><a href="#">Measurements</a></li>
        <li><a href="#">Get A Free Measuring Tape</a></li>
      </ul>
    </div>
    <div class="two columns">
      <h4>ETCETERA</h4>
      <ul>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Get #Tailored Kit</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h4>CONTACT</h4>
      <ul>
        <li>E&nbsp;//&nbsp;info@tailoredrepublic.com</li>
        <li>#&nbsp;//&nbsp;213-8-TAILOR (213-382-4567)</li>
        <li><a href="mailto:info@tailoredrepublic.com" class="button">EMAIL US</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h4>SUBSCRIBE</h4>
      <input type="text" placeholder="enter email...">
      <input type="submit" value="SUBMIT">
    </div>
  </div>
</footer>

<nav id="sidebar">
  <ul>
    <li class="process"><a href="#process">The Process</a></li>
    <li class="top-picks"><a href="#top-picks">Top Picks</a></li>
    <li class="about"><a href="#about">About</a></li>
    <li class="lookbook"><a href="#lookbook">Lookbook</a></li>
    <li class="info"><a href="#info">Info</a></li>
    <li class="cart">
      <a href="<%= shop_or_cart %>">
        <img src="<%= asset_path "shopping-cart.png" %>"> (<%= @item_count %>)
      </a>
    </li>
  </ul>
</nav>
