<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>
<div class="three columns suit-display">
  <%= image_tag "suit-1.png", :class => "suit" %>
  <h4>Suave Suit</h4>
</div>