<div class="content-wrapper">
  <h2>Order History</h2>
</div>

<div class="content-wrapper">
  <% @orders.each do |order| %>
    <div class="order-list-item outlined">
      <div class="four columns">
        <ul>
          <h4><strong><%= order.created_at.to_date.to_formatted_s(:long_ordinal) %></strong></h4>
          <li><h5>Order: <%= order.stripe_charge_id %></h5></li>
        </ul>
      </div>
      <div class="four columns">
        <ul class="items-purchased">
          <li><h5>Purchase Summary</h5></li>
          <% order.line_items.each do |line_item|  %>
            <li><span class="item-description"><%= line_item.name %>:</span> <%= number_to_currency line_item.total_price %></li>
          <% end %>
          <% unless order.coupon.blank? %>
            <li><span class="item-description"><%= order.coupon_description %> (Discount):</span> -<%= number_to_currency order.discount %></li>
          <% end %>
          <li><span class="item-description">Shipping:</span> $0.00</li>
          <li><span class="item-description">Tax:</span> <%= order.tax? ? number_to_currency(order.tax) : '$0.00' %></li>
          <li><span class="item-description">Total cost:</span> <%= number_to_currency order.final_cost %></li>
        </ul>
      </div>
      <div class="four columns">
        <div class="row">
          <ul>
            <li><h5>Sent To</h5></li>
            <li><%= order.shipping_address.name %></li>
            <li><%= order.shipping_address.line1 %></li>
            <li><%= order.shipping_address.line2 %></li>
            <li><%= order.shipping_address.city %>, <%= order.shipping_address.state %>, <%= order.shipping_address.zip %></li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li><h5>Billed To</h5></li>
            <li><%= order.billing_address.name %></li>
            <li><%= order.billing_address.line1 %></li>
            <li><%= order.billing_address.line2 %></li>
            <li><%= order.billing_address.city %>, <%= order.billing_address.state %>, <%= order.billing_address.zip %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="content-wrapper twelve columns">
  <%= will_paginate @orders %>
</div>
