<% title_helper('New Order') %>
<%= render 'shared/stripe_js' %>

  <div id="new-order" class="row">
  <%= render 'shared/checkout_progress', current: :customer_information %>
  <div class="content-wrapper">
    <%= render 'order_summary', order: @order %>
    <div class="six columns pull-six">
      <div id="stripe_error" class="error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>
      <h3>Your Information</h3>
      <%= form_for @order, url: { action: 'review' } do |f| %>
        <%= render 'shared/form_errors', resource: @order %>
        <% if !user_signed_in? || @can_edit_account_info %>
          <fieldset>
            <legend><%= @can_edit_account_info ? 'Account Information' : 'Create an Account' %></legend>
            <% unless @can_edit_account_info %>
              <p><%= link_to 'Already have an account? Login to populate your information.', new_user_session_path %></p>
            <% end %>
            <%= render 'users/light_form', user: @user %>
          </fieldset>
        <% end %>

        <fieldset>
          <legend>Shipping Address</legend>
          <%= render 'addresses/nested_form', parent_form: f, address_type: :shipping_address %>
        </fieldset>

        <fieldset id="payment-information">
          <legend>Payment Information</legend>
          <div class="payment-errors error" style="display: none;">
            <p></p>
          </div>
          <% if @stripe_customer %>
            <label><%= radio_button_tag 'card_radio', 'use_saved_card', @card_radio == 'use_saved_card', class: 'billing-shipping-label' %> Use my saved credit card</label>
            <ul>
              <li><span class="label">Card Number:</span> <%= censored_card(@stripe_customer[:active_card][:last4]) %></li>
              <li><span class="label">Security Code:</span> ***</li>
              <li><span class="label">Card Expiration:</span> <%= @stripe_customer[:active_card][:exp_month].to_s + '/' + @stripe_customer[:active_card][:exp_year].to_s %></li>
            </ul>
            <label><%= radio_button_tag 'card_radio', 'use_new_card', @card_radio != 'use_saved_card', class: 'billing-shipping-label' %> Use a new card</label>
            <%= render 'users/credit_card_form', stripe_customer: nil %>
          <% else %>
            <%= render 'users/credit_card_form', stripe_customer: nil %>
          <% end %>
          <%= hidden_field_tag :stripe_card_token, (@card_token if @card_token) %>
          <%= hidden_field_tag :card_last4, (@card_last4 if @card_last4) %>
          <%= hidden_field_tag :card_exp_month, (@card_exp_month if @card_exp_month) %>
          <%= hidden_field_tag :card_exp_year, (@card_exp_year if @card_exp_year) %>
          <label><%= check_box_tag :save_card_for_later, 'on', @save_card_for_later ? @save_card_for_later == 'on' : false %>Save this credit card securely for future purchases</label>
        </fieldset>

        <fieldset>
          <legend>Billing Address</legend>
          <label><input type="checkbox" name="billing-same-as-shipping" class="billing-shipping-label"> Billing address is the same as the shipping address.</label>
          <%= render 'addresses/nested_form', parent_form: f, address_type: :billing_address %>
        </fieldset>

        <fieldset>
          <legend>Coupon/Gift Card</legend>
          <p>If you have a coupon or a gift card, enter the code here.</p>
          <%= label_tag :coupon_code, 'Code' %>
          <%= text_field_tag :coupon_code, @coupon_code %>
        </fieldset>

        <%= f.submit 'Review Order', class: 'button full-width large' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var options = {};
    <% if @stripe_customer %>
      options.cardInfo = <%= @stripe_customer[:active_card].to_json.html_safe %>;
    <% end %>
    new TR.Views.Order(options);
  });
</script>
