<div id="new-order" class="row">
  <div class="six columns push-six cart-summary">
    <h3>Cart Summary</h3>
    <ul class="cart-summary">
      <% @cart.line_items.each do |line_item| %>
        <li><span class="label"><%= line_item.product.name %> <%= line_item.product.category.capitalize %>:</span>
          $<%= line_item.total_price %></li>
      <% end %>
      <li><span class="label">Shipping:</span> $0</li>
      <li><span class="label">Tax:</span>  $0</li>
      <li class="total"><span class="label">Total:</span>  $<%= @cart.total_price %></li>
    </ul>
    <p class="view-cart"><%= link_to 'Does something not look right? Click here to view your cart and edit any customizations.', cart_path %></p>
    <h3>Ordering FAQ</h3>
    <p>If you have any questions or concerns, please check out our <%= link_to 'FAQ', '/faq' %>, call us any time at
      1-218-3-TAILOR, or send us an email at
      <%= link_to 'support@tailoredrepublic.com', 'mailto:support@tailoredrepublic.com' %>.</p>
    <h4>Free Shipping</h4>
    <p>Always free shipping anywhere within the U.S. Yeah, we know, free shipping is the jam. Your suit will arrive 3-4
      weeks after you place your order. If you would like to ship to other countries please send an email to
      <%= link_to 'support@tailoredrepublic.com', 'mailto:support@tailoredrepublic.com' %> and we will do our best to
      accommodate your request.</p>
    <h4>Alterations/Return Policy</h4>
    <p>We want to ensure that your suit fits you as it should and makes you look like the man you want to be. Therefore
      we will give you up to $75 of alteration credit* or a full remake if the fit is irreparable*.
      <br/><br/>*You must contact us within 2 weeks of suit delivery for these offers to be valid.
    </p>
  </div>
  <div class="six columns pull-six">
    <div id="stripe_error" class="error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <h3>Order</h3>
    <%= form_for @order do |f| %>
      <% if @order.errors.any? %>
        <p class="error">There were some problems submitting your order:</p>
        <ul class="error">
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= hidden_field_tag :stripe_card_token %>

      <% unless user_signed_in? %>
        <fieldset>
          <legend>Create an Account</legend>
          <p><%= link_to 'Already have an account? Click here to login.', new_user_session_path %></p>
          <%= render partial: 'users/light_form', locals: { user: @user } %>
        </fieldset>
      <% end %>

      <fieldset>
        <legend>Shipping Address</legend>
        <%= render partial: 'addresses/form', locals: { address: @order.shipping_address } %>
      </fieldset>

      <fieldset>
        <legend>Payment Information</legend>
          <% if @stripe_customer %>
            <p>We found the following credit card saved to your account.</p>
            <label><input type="checkbox" name="use_saved_card" class="billing-shipping-label" checked> Use my saved credit card</label>
          <% end %>
          <div class="payment-errors error" style="display: none;">
            <p></p>
          </div>
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, autocomplete: 'off', value: card_number %>
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, autocomplete: 'off', value: card_code %>
          <%= label_tag :card_month, "Card Expiration" %>
        <div class="row">
          <div class="six columns">
            <%= select_month card_month, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          </div>
          <div class="six columns">
            <%= select_year card_year, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
          </div>
        </div>
        <% unless @stripe_customer %>
          <label><%= check_box_tag :save_card_for_later, 'save_card_for_later', checked: true %>Save this credit card for purchases in the future</label>
        <% end %>
      </fieldset>
      <fieldset>
        <legend>Billing Address</legend>
        <label><input type="checkbox" name="billing-same-as-shipping" class="billing-shipping-label"> Billing address is the same as the shipping address.</label>
        <%= render partial: 'addresses/form', locals: { address: @order.billing_address } %>
      </fieldset>
      <%= f.submit 'Submit Order', class: 'button full-width large' %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    var options = {};
    <% if @stripe_customer %>
      options.cardInfo = <%= @stripe_customer[:active_card].to_json.html_safe %>;
    <% end %>
    new TR.Views.Order(options);
  });
</script>
