<div id="new-order" class="row">
  <div class="six columns push-six">
    <h3>Cart Summary</h3>
    <% @cart.line_items.each do |line_item| %>
      <p><%= line_item.product.name %> // $<%= line_item.total_price %></p>
    <% end %>
    <p>Total: $<%= @cart.total_price %></p>
  </div>
  <div class="six columns pull-six">
    <div id="stripe_error" class="error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <h3>Order</h3>
    <%= form_for @order do |f| %>
      <%= f.hidden_field :stripe_card_token %>
      <% if user_signed_in? %>
        <p>Welcome back, <%= current_user.name %>. Please verify that the details below are correct.</p>
      <% else %>
        <fieldset>
          <legend>Create an Account</legend>
          <%= render partial: 'users/light_form', locals: { user: @user } %>
        </fieldset>
      <% end %>
      <fieldset>
        <legend>Shipping Address</legend>
        <%= render partial: 'addresses/form', locals: { address: @order.shipping_address } %>
      </fieldset>
      <fieldset>
        <legend>Payment Information</legend>
        <% if @stripe_customer %>
          <p>We found the following billing information saved to your account.</p>
          <label><input type="checkbox" name="billing-same-as-shipping" class="billing-shipping-label" checked> Use the billing information listed below.</label>
      <% end %>
          <div class="payment-errors error" style="display: none;">
            <p></p>
          </div>
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, autocomplete: 'off', value: card_number %>
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, autocomplete: 'off', value: card_code %>
          <%= label_tag :card_month, "Card Expiration" %>
        <div class="row">
          <div class="six columns">
            <%= select_month card_month, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          </div>
          <div class="six columns">
            <%= select_year card_year, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
          </div>
        </div>
        <label><input type="checkbox" name="billing-same-as-shipping" class="billing-shipping-label"> Billing address is the same as the shipping address.</label>
        <%= render partial: 'addresses/form', locals: { address: @order.billing_address } %>
      </fieldset>
      <%= f.submit 'Submit Order', class: 'button full-width large' %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    new TR.Views.Order();
  });
</script>
