<div id="review-order" class="row">
  <div class="content-wrapper">
    <%= render partial: 'shared/checkout_progress', locals: { current: :review_order } %>
  </div>
  <div class="six columns push-six cart-summary">
    <h3>Cart Summary</h3>
    <ul class="cart-summary">
      <% @cart.line_items.each do |line_item| %>
        <li><span class="label"><%= line_item.product.name %> <%= line_item.product.category.capitalize %>:</span>
          $<%= line_item.total_price %></li>
      <% end %>
      <li><span class="label">Shipping:</span> $0</li>
      <li><span class="label">Tax:</span>  $0</li>
      <li class="total"><span class="label">Total:</span>  $<%= @cart.total_price %></li>
    </ul>
    <p class="view-cart"><%= link_to 'Does something not look right? Click here to view your cart and edit any customizations.', cart_path %></p>
    <h3>Ordering FAQ</h3>
    <p>If you have any questions or concerns, please check out our <%= link_to 'FAQ', '/faq' %>, call us any time at
      1-218-3-TAILOR, or send us an email at
      <%= link_to 'support@tailoredrepublic.com', 'mailto:support@tailoredrepublic.com' %>.</p>
    <h4>Free Shipping</h4>
    <p>Always free shipping anywhere within the U.S. Yeah, we know, free shipping is the jam. Your suit will arrive 3-4
      weeks after you place your order. If you would like to ship to other countries please send an email to
      <%= link_to 'support@tailoredrepublic.com', 'mailto:support@tailoredrepublic.com' %> and we will do our best to
      accommodate your request.</p>
    <h4>Alterations/Return Policy</h4>
    <p>We want to ensure that your suit fits you as it should and makes you look like the man you want to be. Therefore
      we will give you up to $75 of alteration credit* or a full remake if the fit is irreparable*.
      <br/><br/>*You must contact us within 2 weeks of suit delivery for these offers to be valid.
    </p>
  </div>
  <div class="six columns pull-six">
    <div id="stripe_error" class="error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <h3>Review Order</h3>
    <%= form_for @order, url: '/orders' do |f| %>
      <% unless user_signed_in? %>
        <fieldset>
          <legend>Account</legend>
          <ul>
            <li><span class="label">Name:</span> <%= @user.name %></li>
            <li><span class="label">Email:</span> <%= @user.email %></li>
          </ul>
          <a href="#" class="edit-information">Edit Information</a>
          <%= fields_for @user do |user_fields| %>
            <%= user_fields.hidden_field :name  %>
            <%= user_fields.hidden_field :email  %>
            <%= user_fields.hidden_field :password  %>
            <%= user_fields.hidden_field :password_confirmation  %>
          <% end %>
        </fieldset>
      <% end %>

      <fieldset>
        <legend>Shipping Address</legend>
        <%= render partial: 'addresses/non_editable', locals: { address: @order.shipping_address } %>
        <a href="#" class="edit-information">Edit Information</a>
      </fieldset>

      <fieldset>
        <legend>Payment Information</legend>
        <ul>
          <li><span class="label">Card Number:</span> XXXX-XXXX-XXXX-<%= @card_last4 %></li>
          <li><span class="label">Security Code:</span> XXX</li>
          <li><span class="label">Card Expiration</span> <%= @card_exp_month + '/' + @card_exp_year %></li>
        </ul>
        <a href="#" class="edit-information">Edit Information</a>
        <%= hidden_field_tag :stripe_card_token, @card_token %>
        <%= hidden_field_tag :card_last4, @card_last4 %>
        <%= hidden_field_tag :card_exp_month, @card_exp_month %>
        <%= hidden_field_tag :card_exp_year, @card_exp_year %>
        <%= hidden_field_tag :save_card_for_later, @save_card_for_later %>
      </fieldset>

      <fieldset>
        <legend>Billing Address</legend>
        <%= render partial: 'addresses/non_editable', locals: { address: @order.billing_address } %>
        <a href="#" class="edit-information">Edit Information</a>
      </fieldset>
      <%= f.submit 'Submit Order', class: 'button full-width large' %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    new TR.Views.ReviewOrder();
  });
</script>
