<% title_helper('Orders - Thank You') %>

<%= render 'shared/checkout_progress', current: :order_complete %>
<div class="row content-wrapper thank-you-row">
  <h4>Thanks for your order, <%= @order.user.name %>!</h4>
  <div class="twelve columns outlined">
    <p>Your order information has been turned into a series of digital 1s and 0s and is already in the hands of our
      tailors. Your custom clothing will be delivered in 3-4 weeks.</p>
    <p>Your order number is: <strong><%= @order.order_id %>.</strong></p>
    <% unless @order.generated_coupons.blank? %>
      <p>The following coupon codes have been generated for your gift card(s):</p>
      <% @order.generated_coupons.each do |coupon| %>
        <ul class="coupon-list">
          <li><strong><%= coupon.description %></strong>: <%= coupon.code %></li>
        </ul>
      <% end %>
    <% end %>
    <p>An order confirmation email is being sent to <strong><%= @order.user.email %></strong> right now.</p>
    <%= render 'shared/social_media_dock' %>
  </div>
</div>

<script>
  $(function() {
    var order = <%= @order.to_json_for_tracking %>;
    var lineItems = <%= @order.line_items_to_json_for_tracking %>;
    var billingAddress = <%= @order.billing_address_to_json_for_tracking %>
    TR.Analytics.trackTransaction(order, lineItems, billingAddress);
  });
</script>