<% title_helper('Admin') %>

<div class="content-wrapper">
  <h2>Administration</h2>
  <div class="outlined">
    <h4><%= link_to 'Products', '/admin/products' %></h4>
    <p>Manage the Tailored Republic product collection, upload new images, adjust prices, names, and descriptions.</p>
    <h4><%= link_to 'Users', '/admin/users' %></h4>
    <p>View user accounts, update shipping/billing information, and modify measurements.</p>
    <h4><%= link_to 'Coupons', '/admin/coupons' %></h4>
    <p>Create and manage promotions, coupons, and gift cards.</p>
    <h4><%= link_to 'Orders', '/admin/orders' %></h4>
    <p>View the order history.</p>
    <h4><%= link_to 'Tape Measure Requests', '/admin/tape-measure-requests' %></h4>
    <p>Keep track of all the requests for tape measures and update their status.</p>
    <h4><%= link_to 'Tailor Requests', '/admin/tailor-requests' %></h4>
    <p>Keep track of all the tailor requests and update their status.</p>
  </div>
</div>