<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Tailored Republic" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tailored Republic" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div id="container" class="container">
    <div id="main" role="main">
      <h1><%= image_tag 'logos/logo-white.png', class: 'logo' %></h1>
      <% if flash[:notice] == :new_user %>
        <div class="text-wrapper">
          <h5>Thank you for requesting an invite -- Prepare to get Tailored by checking us out on Facebook. (<%= link_to 'www.facebook.com/tailoredrepublic', 'http://www.facebook.com/tailoredrepublic', target: '_blank' %>)</h5>
        </div>
      <% elsif flash[:notice] == :error %>
        <div class="text-wrapper">
          <h5>Access code invalid. Please submit your email below to request an access code.</h5>
        </div>
      <% end %>
      <div class="text-wrapper">
        <h3>Made-to-measure, custom suits.<br/>Step your game up. Get Tailored.</h3>
        <h4>Site coming soon.*</h4>
        <div class="form-box">
          <h5>// Sign up to request an access code</h5>
          <%= form_tag request_access_code_path do %>
            <%= text_field_tag :email, '', placeholder: 'email address...' %>
            <%= submit_tag 'Submit' %>
          <% end %>
        </div>
        <div class="form-box">
          <h5>// Enter pre-launch access code</h5>
          <%= form_tag authenticate_access_code_path do %>
            <%= text_field_tag :access_code, '', placeholder: 'access code...' %>
            <%= submit_tag 'Go' %>
          <% end %>
        </div>
        <h6>*We are currently doing in-person tailorings. If you are in the Los Angeles, Las Vegas, or Phoenix areas call
          us at 218-3-Tailor (218-382-4567) to set up an appointment.</h6>
      </div>
    </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33503063-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
