<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Frequently Asked Questions</h2>
    <dl class="sub-nav">
      <dd><a href="#general">General</a><span class="divider">//</span></dd>
      <dd><a href="#suit-design">Suit Design and Styling</a><span class="divider">//</span></dd>
      <dd><a href="#alterations">Alterations and Remakes</a><span class="divider">//</span></dd>
      <dd><a href="#measuring">Measuring</a><span class="divider">//</span></dd>
      <dd><a href="#payment">Payment</a></dd>
    </dl>
    <section id="general">
      <h4>General</h4>

      <h5>What is your phone number?</h5>
      <p>Our phone number is 218-3-Tailor (218-382-4567).</p>

      <h5>What is the best way to have my question answered?</h5>
      <p>You can email us at <%= link_to 'info@tailoredrepublic.com', 'mailto:info@tailoredrepublic.com' %> or call us at
        218-3-Tailor (218-382-4567).</p>

      <h5>Where is Tailored Republic located?</h5>
      <p>We are based out of beautiful, vibrant Los Angeles, California.</p>

      <h5>Can I send you a picture of me in my Tailored Republic suit?</h5>
      <p>We would love to see them and possibly even feature them on our site. You can email them to us
        at <%= link_to 'pictures@tailoredrepublic.com', 'mailto:pictures@tailoredrepublic.com' %> or just upload them to
        Facebook/Twitter/Instagram and tag us in them.</p>

      <h5>I don’t have a tape measure, what can I do?</h5>
      <p>Email us at <%= link_to 'tapemeasure@tailoredrepublic.com', 'mailto:tapemeasure@tailoredrepublic.com' %> with your name and mailing address and we will send you a free TR
        measuring tape immediately.</p>

      <h5>What can I do to prevent people from irresistibly pouncing on me out of lust? I am tired of all of the attention.</h5>
      <p>Leave your Tailored Republic suit at home and wear one of your old, off-the-rack suits.</p>
    </section>
    <section id="suit-design">
      <h4>Suit Design and Styling</h4>

      <h5>Can I customize my suit with options that are not available on your website?</h5>
      <p>Absolutely, we want to work with you to create any suit that you can imagine. Email us
        at <%= link_to 'stylist@tailoredrepublic.com', 'mailto:stylist@tailoredrepublic.com' %> or call us at
        218-3-Tailor (218-382-4567) and we will let you know whether your request is possible and whether there will be
        any extra charges.</p>

      <h5>Can I have assistance in choosing my Tailored Republic suit?</h5>
      <p>Yes, we are always happy to help you create your ideal suit. You can email us
        at <%= link_to 'stylist@tailoredrepublic.com', 'mailto:stylist@tailoredrepublic.com' %> or call us at
        218-3-Tailor (218-382-4567).</p>

      <h5>Can I modify my order?</h5>
      <p>You are able to modify your order within 24 hours of placing it by
        emailing <%= link_to 'modifications@tailoredrepublic.com', 'mailto:modifications@tailoredrepublic.com' %> or
        calling 218-3-Tailor (218-382-4567).</p>

      <h5>Can I get a sample of the fabrics before I order my suit?</h5>
      <p>Yes, we offer our <strong>Get Tailored Kit</strong>, which includes fabric samples, linings, and a tape measure.</p>

      <h5>Are your suits bespoke?</h5>
      <p>No, our suits are not bespoke; our suits are made-to-measure. The difference between the two is that bespoke
        suits require many fittings and the price reflects the significantly larger amount of time. We believe that made
        to measure is the ideal combination of personal customization and price, making it the ultimate deal.</p>
    </section>
    <section>
      <h4>Shipping</h4>

      <h5>How long will it take for me to receive my order?</h5>
      <p>It takes 3-4 weeks from the time of order until you will receive your shipment.</p>

      <h5>Do you offer multiple shipping options or expedited shipping?</h5>
      <p>It is possible to opt for expedited shipping at an increased cost. Shoot us an email or give us a call and we
        will let you know the details.</p>

      <h5>Does Tailored Republic ship outside the United States?</h5>
      <p>At this time, Tailored Republic does not ship outside of the United States. You can join our mailing list by
        typing your email into the submission box in the footer and be alerted to all future changes including the
        addition of countries to our shipping area.</p>

      <h5>How do I change my shipping address?</h5>
      <p>You can contact us
        at <%= link_to 'modifications@tailoredrepublic.com', 'mailto:modifications@tailoredrepublic.com' %> or call us at
        218-3-Tailor (218-382-4567).</p>

      <h5>I need my suit for an important event -- how far in advance should I order my suit?</h5>
      <p>The absolute minimum time needed is 3 weeks, but we recommend 8 weeks. This allows for time to have a remake
        should it be required. If you are unable to order 8 weeks in advance, we recommend ordering at least 5 weeks in
        advance so you will have time for your local tailor to adjust the suit should there be any minor fixes
        required.</p>
    </section>
    <section id="alterations">
      <h4>Alterations and Remakes</h4>

      <h5>What do I do if my suit doesn’t fit me properly?</h5>
      <p>If a minor fix is required, you can take your suit to a local tailor and have them correct the problem (minor
        fixes include adjusting jacket length, sleeve length, jacket fit around the torso, pant length and pant waist
        size). We will then refund you the tailor’s cost up to $75 upon receiving a scanned copy of your receipt. If a
        major fix is needed, you will need to go to a local tailor to get professionally measured and send us your new
        measurements as well as a picture of you in the ill-fitting suit, and using these measurements and the picture,
        we will create a brand new suit for you with the only cost being that of shipping us the old suit.</p>

      <h5>Where should I send my order that I am having remade?</h5>
      <p>
        Tailored Republic<br/>
        22714 Calvert St.<br/>
        Woodland Hills, CA 91367
      </p>

      <h5>How long does a remake take?</h5>
      <p>We take care in remaking your suit and as a result it takes 3-4 weeks from the time we received your updated
        measurements until we deliver your suit.</p>
    </section>
    <section id="measuring">
      <h4>Measuring</h4>

      <h5>How can I get measured for a Tailored Republic suit?</h5>
      <p>You have two options: You can either have a friend or family member measure you by following our step by step
        <%= link_to 'measurement tutorials', measurements_path %> or you can go to your local tailor and have them
        measure you and we will reimburse any incurred costs once you purchase a suit. If you are having problems
        measuring yourself feel free to call us and we can walk you through the process or set up a Skype meeting.</p>

      <p>If you live in any of the following areas we can send one of our Tailored Republic tailors to your house or
        place of business to measure you:</p>
      <p>
        <ul class="disc">
          <li>Greater Los Angeles Area (including Downtown, the Westside, South Beach, and the Valley)</li>
          <li>Las Vegas</li>
          <li>Phoenix</li>
          <li>More locations coming soon</li>
        </ul>
      </p>
      <p>Call 218-3-Tailor (218-382-4567) to set up an appointment that will include a style consultation, fabric selection, and fitting.</p>

      <h5>How can I measure myself?</h5>
      <p>We offer measurement video tutorials during our checkout process. In the videos we walk you through the process
        of getting measured, with simple easy to follow instructions. If you do not have a tape measure you can email us
        at <%= link_to 'tapemeasure@tailoredrepublic.com', 'mailto:tapemeasure@tailoredrepublic.com' %> with your name
        and mailing address and we will send you one.</p>

      <h5>What should I do before going to my local tailor to get measured?</h5>
      <p>You should print out the Tailored Republic measurement card (pdf link), which will help the tailor take
        measurements the way we need them to be taken.</p>

      <h5>Can I measure a suit that fits me properly instead?</h5>
      <p>No, we use different measurements than you would get from measuring the suit, and as a result your order would
        not fit.</p>

      <h5>I do not look like your models; will your suits still fit me?</h5>
      <p>Our tailored suits are great for everyone. We build the suit based upon your submitted measurements so that
        they will fit you, whether you are a large guy or a child.</p>
    </section>
    <section id="payment">
      <h4>Payment</h4>

      <h5>How can I pay?</h5>
      <p>We accept debit and credit cards from Visa, MasterCard, Discover, and American Express though out SSL encrypted
        payment processer.</p>

      <h5>Do I need to pay taxes on my order?</h5>
      <p>If you live in California you will need to pay taxes when you order from Tailored Republic. If you do not live
        in California you will not be charged sales tax on TailoredRepublic.com, but you must still pay use tax to your
        state.</p>

      <h5>Can I purchase a Tailored Republic gift card?</h5>
      <p>Yes you can, we offer <%= link_to 'Tailored Republic gift cards', gift_cards_path %>, which are ideal for any occasion.</p>

      <h5>Have any other questions or want additional information? You can always email us at <%= link_to 'info@tailoredrepublic.com', 'mailto:info@tailoredrepublic.com' %> or call 218-3-Tailor (218-382-4567).</h5>
    </section>
  </div>
</div>