<div class="row content-wrapper">
  <div class="eight columns">
    <h2>Gift Cards</h2>
    <p>A tailored suit is a brilliant gift because not only will the recipient be undeniably excited, but also you as
      the giver will get to reap the benefits of seeing your friend/boyfriend/husband/son/etc looking sharper than ever.
      We like win win situations.</p>
  </div>
</div>

<div class="row content-wrapper gift-card-row">
  <div class="four columns">
    <a href="#" data-price="25"><%= image_tag 'gift_cards/gift-card-25.jpg' %></a>
  </div>
  <div class="four columns">
    <a href="#" data-price="50"><%= image_tag 'gift_cards/gift-card-50.jpg' %></a>
  </div>
  <div class="four columns">
    <a href="#" data-price="100"><%= image_tag 'gift_cards/gift-card-100.jpg' %></a>
  </div>
</div>

<div class="row content-wrapper gift-card-row">
  <div class="four columns">
    <a href="#" data-price="349"><%= image_tag 'gift_cards/gift-card-349.jpg' %></a>
  </div>
  <div class="four columns">
    <a href="#" data-price="469"><%= image_tag 'gift_cards/gift-card-469.jpg' %></a>
  </div>
  <div class="four columns">
    <a href="#" data-price="629"><%= image_tag 'gift_cards/gift-card-629.jpg' %></a>
  </div>
</div>

<script type="text/javascript">
  new TR.Views.GiftCard();
</script>