<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

</head>
<body style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
<p>Order ID: <%= @order.order_id %></p>

<h3>Measurements</h3>
<ul style="list-style-type: none;padding-left:5px;list-style: none;margin: 0;">
<% @order.measurement.display_attributes.each do |key, value| %>
  <li style="margin-left: 0;"><%= key.titleize %>: <%= value %></li>
<% end %>
</ul>

<h3>Items Purchased</h3>
<% @order.line_items.each do |line_item|  %>
  <p><%= line_item.quantity %> x <%= line_item.name %></p>
  <% if line_item.category == :suit || line_item.category == :shirt %>
    <p>Customizations:</p>
    <ul style="list-style-type: none;padding-left: 5px;list-style: none;margin: 0;">
      <% customization_list(line_item, true).each do |customization| %>
        <li style="margin-left: 0;"><%= customization[:option] %>: <%= customization[:type] %></li>
      <% end %>
    </ul>
  <% end %>
  <br/>
<% end %>
</body>
</html>