<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

</head>
<body style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr><td align="center" valign="top" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
    <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
      <tr>
        <td id="header" colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <a href="https://www.tailoredrepublic.com"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/logos/logo-shield.png" width="443" height="66" alt="Tailored Republic"></a>
        </td>
      </tr>
      <tr>
        <td style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <h4>Thanks for your order <%= @user.name %>!</h4>
        </td>
      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#fff" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;background-color: #fff;height: 0;border-bottom: 2px solid #aaa;"></td>
      </tr>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <h4 style="margin-bottom: 5px;margin-top: 5px;">Order ID: <strong><%= @order.order_id %></strong></h4>
        </td>
      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#fff" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;background-color: #fff;height: 0;border-bottom: 2px solid #aaa;"></td>
      </tr>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <h4 style="margin-bottom: 5px;margin-top: 5px;">Shipping Address</h4>
          <ul style="list-style-type: none;padding-left: 5px;list-style: none;margin: 0;">
            <li style="margin-left: 0;"><%= @order.shipping_address.name %></li>
            <li style="margin-left: 0;"><%= @order.shipping_address.line1 %></li>
            <li style="margin-left: 0;"><%= @order.shipping_address.line2 %></li>
            <li style="margin-left: 0;"><%= @order.shipping_address.city %>, <%= @order.shipping_address.state %>, <%= @order.shipping_address.zip %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <h4 style="margin-bottom: 5px;margin-top: 5px;">Billing Address</h4>
          <ul style="list-style-type: none;padding-left: 5px;list-style: none;margin: 0;">
            <li style="margin-left: 0;"><%= @order.billing_address.name %></li>
            <li style="margin-left: 0;"><%= @order.billing_address.line1 %></li>
            <li style="margin-left: 0;"><%= @order.billing_address.line2 %></li>
            <li style="margin-left: 0;"><%= @order.billing_address.city %>, <%= @order.billing_address.state %>, <%= @order.billing_address.zip %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#fff" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;background-color: #fff;height: 0;border-bottom: 2px solid #aaa;"></td>
      </tr>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <h4 style="margin-bottom: 5px;margin-top: 5px;">Order Summary</h4>
          <% @order.line_items.each do |line_item|  %>
            <div>
              <p><%= line_item.name %>: <%= number_to_currency line_item.total_price %></p>
              <% if line_item.category == :suit || line_item.category == :shirt %>
                <p>Customizations:</p>
                <ul style="list-style-type: none;padding-left: 5px;list-style: none;margin: 0;">
                  <% customization_list(line_item.customization).each do |customization| %>
                    <li style="margin-left: 0;"><%= customization[:option] %>: <%= customization[:type] %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="item_divider" style="background-color: #fff;height: 0;margin: 10px 0;border-bottom: 1px dashed #aaa;"></div>
          <% end %>
          <% unless @order.coupon.nil? %>
            <h4 style="margin-bottom: 5px;margin-top: 5px;">Discounts</h4>
            <p><%= @order.coupon_description %>: -<%= number_to_currency @order.discount %></p>
            <div class="item_divider" style="background-color: #fff;height: 0;margin: 10px 0;border-bottom: 1px dashed #aaa;"></div>
          <% end %>
          <p>Shipping: $0.00</p>
          <p>Tax: <%= @order.tax? ? number_to_currency(@order.tax) : '$0.00' %></p>
          <div class="item_divider" style="background-color: #fff;height: 0;margin: 10px 0;border-bottom: 1px dashed #aaa;"></div>
          <h4 style="margin-bottom: 5px;margin-top: 5px;">Total price: <%= number_to_currency @order.final_cost %></h4>
        </td>
      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#fff" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;background-color: #fff;height: 0;border-bottom: 2px solid #aaa;"></td>
      </tr>
      <% unless @order.generated_coupons.blank? %>
        <tr>
          <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
            <h4 style="margin-bottom: 5px;margin-top: 5px;">Gift Card Coupon Codes</h4>
            <% @order.generated_coupons.each do |coupon| %>
              <p><strong><%= coupon.description %></strong>: <%= coupon.code %></p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#fff" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;background-color: #fff;height: 0;border-bottom: 2px solid #aaa;"></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <p>Your Tailored Republic garments should arrive at your doorstep within 3-4 weeks. If there are any problems,
            feel free to give us a call at 218-3-Tailor (218-382-4567). Thanks again from the Tailored Republic Team!
          </p>
          <h4>Alterations/Return Policy</h4>
          <p>
            We want to ensure that your suit/shirt fits you as it should and makes you look like the man you want to be.
            Therefore we will give you up to $75 of alteration credit* or a full remake if the fit is irreparable. The
            alteration credit will be reimbursed to your credit card after you send a scanned copy of the receipt to
            support@tailoredrepublic.com. The remake credit will be reimbursed to your credit card upon receipt of the
            returned suit/shirt*.
          </p>
          <p>* You must contact us to notify us of the problem within 2 weeks of suit delivery for these offers to be
            valid.</p>
          <ul style="list-style-type: none; list-style: none;margin: 0;padding:0; text-align: center;">
            <a href="http://www.facebook.com/TailoredRepublic" target="_blank" style="text-decoration: none;">
              <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/facebook-icon-black.png" width="60" height="60" alt="Facebook"></li>
            </a>
            <a href="https://twitter.com/T_Republic" target="_blank" style="text-decoration: none;">
              <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/twitter-icon-black.png" width="60" height="60" alt="Twitter"></li>
            </a>
            <a href="mailto:info@tailoredrepublic.com" style="text-decoration: none;">
              <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/email-icon-black.png" width="60" height="60" alt="Email"></li>
            </a>
            <a href="http://instagram.com/tailoredrepublic" target="_blank" style="text-decoration: none;">
              <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/instagram-icon-black.png" width="60" height="60" alt="Instagram"></li>
            </a>
            <a href="http://blog.tailoredrepublic.com" target="_blank" style="text-decoration: none;">
              <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/tumblr-icon-black.png" width="60" height="60" alt="Blog"></li>
            </a>
          </ul>
        </td>
      </tr>
      <tr>
        <td id="footer" colspan="2" align="center" style="color: #555555;font-size: 11px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <p>&copy;2013 Tailored Republic // <%= link_to 'www.tailoredrepublic.com', 'https://www.tailoredrepublic.com' %></p>
        </td>
      </tr>
    </table>
  </td></tr>
</table>
</body>
</html>