<div class="cart-item" data-product-id="<%= cart_item.product.id %>"
     data-customization-id="<%= cart_item.customization.id %>" data-cart-item-id="<%= cart_item.id %>">
  <a href="#" class="remove">Remove</a>
  <div class="three columns">
    <%= image_tag cart_item.product.image_large_url, class: "product-image"%>
  </div>
  <div class="nine columns">
    <h3><%= cart_item.product.name %><span class="divider"> // </span>$<%= cart_item.total_price %></h3>
    <p><%= cart_item.product.description %></p>
    <span class="arrow-right"></span>
    <a href="#" class="view-customizations">View Customizations</a>
    <div class="customization-list-wrapper" style="display: none;">
      <ul>
        <% customization_list(cart_item.customization).each do |customization| %>
          <li>
            <a href="#" class="edit-customization-option" data-type="<%= customization_to_key(customization[:option]) %>">
              <span class="label"><%= customization[:option] %></span>: <%= customization[:type] %>
            </a>
          </li>
        <% end %>
      </ul>
      <a href="#" class="button edit-customizations">Edit Customizations</a>
    </div>
  </div>
</div>