<div class="cart-item" data-product-id="<%= cart_item.product.id %>"
     data-customization-id="<%= cart_item.customization.id %>" data-cart-item-id="<%= cart_item.id %>">
  <a href="#" class="remove">Remove</a>
  <div class="three columns">
    <%= image_tag cart_item.product.image_large_url, class: "product-image"%>
  </div>
  <div class="nine columns">
    <h3><%= cart_item.product.name %><span class="divider"> // </span>$<%= cart_item.total_price %></h3>
    <h4>Customizations:</h4>
    <p>
      <%= print_customizations cart_item.customization%>
    </p>
    <a href="#" class="edit-customizations button">Edit Customizations</a>
  </div>
</div>