<a class="close-reveal-modal">&#215;</a>
<h2>{{product.name}} <span class="divider">//</span> <span class="current-customization">{{titleize customizationOptions.0.category}}</span></h2>
<div class="customizations">
  <ul class="progress-bar">
    {{#each customizationOptions}}
      <li data-type="{{this.category}}" {{#ifeq @index 0}}class="selected"{{/ifeq}}></li>
    {{/each}}
    <li data-type="checkout"></li>
  </ul>
  <ul class="customization-list">
    {{#each customizationOptions}}
      <li class="customization-wrapper" data-type="{{this.category}}">
        <p>{{{this.description}}}</p>
        {{#if this.custom}}
          {{#if this.monogram}}
            <div class="row">
              <div class="customization-option six columns">
                <form id="monogram-form">
                  <label>Monogram (+${{this.extra_cost}}) ({{this.max_length}} character max) </label>
                  <input type="text" name="monogram" maxlength="{{this.max_length}}" value="{{../../../customization.monogram}}">
                  <div class="row">
                    <div class="six columns">
                      <input type="submit" class="button full-width" value="Save">
                    </div>
                    <div class="six columns">
                      <input type="button" class="button full-width skip" value="Skip">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          {{/if}}
          {{#if this.fabric}}
            <div class="six columns">
              {{#eachProperty this.options}}
                <a href="#" class="customization-option fabric three columns {{#if value.selected}}selected{{/if}}"
                   data-option="{{property}}" data-label="{{value.label}}"
                   data-large="{{value.large_image}}">
                  <h5>&nbsp;</h5>
                  <img src="{{imgSrc value.small_image}}">
                </a>
              {{/eachProperty}}
              <p class="centered">Hover to magnify</p>
            </div>
            <div class="six columns">
              <div class="image-magnified">
                <img src="{{magnifiedFabricImg this.options}}"></a>
              </div>
              <p class="centered fabric-label">{{magnifiedFabricLabel this.options}}</p>
            </div>
          {{/if}}
        {{else}}
          {{#eachProperty this.options}}
            <a href="#" class="customization-option {{numColumns ../this.options}} {{#if value.selected}}selected{{/if}} {{../this.category}}" data-option="{{property}}">
              <h5>{{#if value.label}} {{value.label}} {{else}} {{titleizeWithNumbers property}} {{/if}}</h5>
              <img src="{{imgSrc value.image}}">
              {{#unless ../this.no_recommendation}}
                {{#if value.default}}
                  <div class="recommended">
                    <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
                  </div>
                {{/if}}
              {{/unless}}
            </a>
          {{/eachProperty}}
        {{/if}}
      </li>
    {{/each}}
    <li class="customization-wrapper" data-type="checkout">
      <div class="customization-summary row">
        {{#ifeq product.category "suit"}}
          {{> customizationCheckoutSuit}}
        {{else}}
          {{> customizationCheckoutShirt}}
        {{/ifeq}}
      </div>
    </li>
  </ul>
</div>
<div class="row prev-next-row">
  <div class="six columns previous-col">
    <a href="#" class="button previous" style="display: none;">Previous</a>
  </div>
  <div class="six columns next-col">
    <a href="#" class="button next">Next</a>
  </div>
</div>