<p>Please read over your customizations one last time and ensure that they are correct. If you need to change any customizations, click on any of the categories below
  to enter your new customization.
</p>
<ul class="six columns">
  <li><a href="#" class="label" data-type="collar">Collar:</a> {{uppercaseFirst collar}}</li>
  <li><a href="#" class="label" data-type="fit">Fit:</a> {{uppercaseFirst fit}}</li>
  <li><a href="#" class="label" data-type="pocket">Pocket:</a> {{#if pocket}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="monogram">Monogram:</a> {{#ifGreaterThan monogram.length 0}}{{monogram}} (+${{shirtMonogramPrice}}){{else}}None{{/ifGreaterThan}}</li>
</ul>
<div class="six columns">
  <ul>
    <li><span class="label">Total cost:</span> ${{decimalToInteger price}}</li>
  </ul>
  {{#if isNew}}
    <a href="#" class="button add-to-cart"><img src="{{imgSrc "icons/shopping-cart.png"}}"> Add To Cart</a>
  {{else}}
    <a href="#" class="button save-changes">Save Changes</a>
  {{/if}}
</div>