<a class="close-reveal-modal">&#215;</a>
<h3>{{product.name}} <span class="divider">//</span> <span class="current-customization">Lapel</span></h3>
<div class="customizations">
  <ul class="progress-bar {{product.category}} {{#if chooseFabric}} suit-swatch {{/if}}">
    {{#if chooseFabric}}
      <li data-type="swatch" class="selected"></li>
      <li data-type="lapel"></li>
    {{else}}
      <li data-type="lapel" class="selected"></li>
    {{/if}}
    <li data-type="buttons"></li>
    <li data-type="vents"></li>
    <li data-type="pleats"></li>
    <li data-type="pant_cuffs"></li>
    <li data-type="fit"></li>
    <li data-type="lining"></li>
    <li data-type="monogram"></li>
    <li data-type="pick_stitching"></li>
    <li data-type="vest"></li>
    <li data-type="checkout"></li>
  </ul>
  <ul class="customization-list">
    {{#if chooseFabric}}
      <li class="customization-wrapper fabric" data-type="fabric">
        <p>For the bold suit connoisseur we have the option to build your own suit; including selecting a unique fabric
          that is not available in our permanent collection. Start by choosing one of our 100% wool premium fabrics
          above.
        </p>
        <div class="row">
          <div class="three columns">
            <a href="#" class="fabric-option {{#ifeq fabric "charcoal-pinstripe"}}selected{{/ifeq}}" data-id="charcoal-pinstripe"><img src="{{imgSrc "swatches/charcoal-with-pinstripe.jpg"}}"></a>
            <p>Dark Charcoal w/ Wide Pinstripes</p>
          </div>
          <div class="three columns">
            <a href="#" class="fabric-option {{#ifeq fabric "granite-red"}}selected{{/ifeq}}" data-id="granite-red"><img src="{{imgSrc "swatches/granite-with-red.jpg"}}"></a>
            <p>Granite w/ Red Crosschecks</p>
          </div>
          <div class="three columns">
            <a href="#" class="fabric-option {{#ifeq fabric "heathered-light-gray"}}selected{{/ifeq}}" data-id="heathered-light-gray"><img src="{{imgSrc "swatches/heathered-light-gray.jpg"}}"></a>
            <p>Heathered Light Gray</p>
          </div>
          <div class="three columns">
            <a href="#" class="fabric-option {{#ifeq fabric "stone-gray-with-blue"}}selected{{/ifeq}}" data-id="stone-gray-with-blue"><img src="{{imgSrc "swatches/stone-gray-with-blue.jpg"}}"></a>
            <p>Stone Gray w/ Blue Crosschecks</p>
          </div>
        </div>
      </li>
    {{/if}}
    <li class="customization-wrapper" data-type="lapel">
      <p>Notch lapels are the most widely used lapels and are a safe and stylish choice for any suit. Peak lapels add a
        little pizazz for those who want to stand out. TR tip: If you are unsure, go with the notch lapel, you don’t
        necessarily want anything to distract from the perfect fit of your tailored suit.</p>
      <a href="#" class="customization-option four {{#ifeq lapel "notch"}}selected{{/ifeq}}" data-option="notch">
        <h5>Notch</h5>
        <img src="{{imgSrc "customizations/suits/lapel-notch.png"}}">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option four {{#ifeq lapel "peak"}}selected{{/ifeq}}" data-option="peak">
        <h5>Peak</h5>
        <img src="{{imgSrc "customizations/suits/lapel-peak.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq lapel "narrow"}}selected{{/ifeq}}" data-option="narrow">
        <h5>Narrow</h5>
        <img src="{{imgSrc "customizations/suits/lapel-narrow.png"}}">
      </a>
    </li>
    <li class="customization-wrapper" data-type="buttons">
      <p>The modern standard and a fashionable choice is the two button suit. Two button suits fit more of a classic
        style and look great on taller guys. A one button suit is a very stylish option for those who want to be
        adventurous. TR tip: If you are going to add a vest, stick with the two button jacket.</p>
      <a href="#" class="customization-option four {{#ifeq buttons 1}}selected{{/ifeq}}" data-option="1">
        <h5>One</h5>
        <img src="{{imgSrc "customizations/suits/buttons-one.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq buttons 2}}selected{{/ifeq}}" data-option="2">
        <h5>Two</h5>
        <img src="{{imgSrc "customizations/suits/buttons-two.png"}}">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option four {{#ifeq buttons 3}}selected{{/ifeq}}" data-option="3">
        <h5>Three</h5>
        <img src="{{imgSrc "customizations/suits/buttons-three.png"}}">
      </a>
    </li>
    <li class="customization-wrapper" data-type="vents">
      <p>Having two vents is the traditional, safe and stylish choice. One vent is a way to make your suit modern and
        sleek without distracting from the excellent fit (we love the single vent). TR tip: If you are a shorter guy,
        go ahead and get the double vent, the vertical vents help to draw the eye upward and elongate the body.</p>
      <a href="#" class="customization-option four {{#ifeq vents 0}}selected{{/ifeq}}" data-option="0">
        <h5>None</h5>
        <img src="{{imgSrc "customizations/suits/vents-none.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq vents 1}}selected{{/ifeq}}" data-option="1">
        <h5>One</h5>
        <img src="{{imgSrc "customizations/suits/vents-one.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq vents 2}}selected{{/ifeq}}" data-option="2">
        <h5>Two</h5>
        <img src="{{imgSrc "customizations/suits/vents-two.png"}}">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
    </li>
    <li class="customization-wrapper" data-type="pleats">
      <p>Pleats are typically associated with old-fashioned suits. If you are looking for a modern, trendier look, we
        recommend going with no pleats and no cuffs on the pants.</p>
      <a href="#" class="customization-option four {{#ifeq pleats 0}}selected{{/ifeq}}" data-option="0">
        <h5>None</h5>
        <img src="{{imgSrc "customizations/suits/pleats-none.png"}}">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option four {{#ifeq pleats 1}}selected{{/ifeq}}" data-option="1">
        <h5>One</h5>
        <img src="{{imgSrc "customizations/suits/pleats-one.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq pleats 2}}selected{{/ifeq}}" data-option="2">
        <h5>Two</h5>
        <img src="{{imgSrc "customizations/suits/pleats-two.png"}}">
      </a>
    </li>
    <li class="customization-wrapper two-item" data-type="pant_cuffs">
      <p>Pant cuffs were a suit staple in previous decades, but unless you are going for an older, more classic look,
        we recommend sticking with no pant cuffs. It keeps the suit lines clean and sharp, keeping those heads on a
        swivel.</p>
      <a href="#" class="customization-option {{#ifeq pant_cuffs false}}selected{{/ifeq}}" data-option="false">
        <h5>None</h5>
        <img src="{{imgSrc "customizations/suits/cuffs-no.png"}}" class="cuffs">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option {{#ifeq pant_cuffs true}}selected{{/ifeq}}" data-option="true">
        <h5>Cuffs</h5>
        <img src="{{imgSrc "customizations/suits/cuffs-yes.png"}}" class="cuffs">
      </a>
    </li>
    <li class="customization-wrapper" data-type="fit">
      <p>The tailored fit is guaranteed to look great on most guys. A regular fit is great for guys with a fuller
        figure. And the slim fit is great for lean guys who want a very tight fitting suit and know they will not have
        any weight changes in the future. TR tip: Regardless of the fit option, our suits are tailored to your
        measurements, so slim or full-figured, your suit will look and feel great.</p>
      <a href="#" class="customization-option four {{#ifeq fit "slim"}}selected{{/ifeq}}" data-option="slim">
        <h5>Slim</h5>
        <img src="{{imgSrc "customizations/suits/fit-slim.png"}}">
      </a>
      <a href="#" class="customization-option four {{#ifeq fit "tailored"}}selected{{/ifeq}}" data-option="tailored">
        <h5>Tailored</h5>
        <img src="{{imgSrc "customizations/suits/fit-tailored.png"}}">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option four {{#ifeq fit "normal"}}selected{{/ifeq}}" data-option="normal">
        <h5>Normal</h5>
        <img src="{{imgSrc "customizations/suits/fit-normal.png"}}">
      </a>
    </li>
    <li class="customization-wrapper linings" data-type="lining">
      <p>The most common selection is matching lining, which works with the suit to bring out the fabrics natural
        intrigue. Contrasting linings are a great choice if you want to add a little flash to your suit, making your
        suit stand out. TR tip: A unique lining is a great way to make your suit stand out and really separates your
        suit from the off-the-rack crowd; we recommend being bold.</p>
      <div class="row">
        <div class="three columns">
          <a href="#" class="lining-option {{#ifeq lining "black"}}selected{{/ifeq}}" data-id="black">
            <img src="{{imgSrc "customizations/suits/linings/black.jpg"}}">
            <span class="label">Black</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "burgundy"}}selected{{/ifeq}}" data-id="burgundy">
            <img src="{{imgSrc "customizations/suits/linings/burgundy.jpg"}}">
            <span class="label">Burgundy</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "forest-green"}}selected{{/ifeq}}" data-id="forest-green">
            <img src="{{imgSrc "customizations/suits/linings/forest-green.jpg"}}">
            <span class="label">Forest Green</span>
          </a>
        </div>
        <div class="three columns">
          <a href="#" class="lining-option {{#ifeq lining "gray"}}selected{{/ifeq}}" data-id="gray">
            <img src="{{imgSrc "customizations/suits/linings/gray.jpg"}}">
            <span class="label">Gray</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "ivory"}}selected{{/ifeq}}" data-id="ivory">
            <img src="{{imgSrc "customizations/suits/linings/ivory.jpg"}}">
            <span class="label">Ivory</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "light-brown"}}selected{{/ifeq}}" data-id="light-brown">
            <img src="{{imgSrc "customizations/suits/linings/light-brown.jpg"}}">
            <span class="label">Light Brown</span>
          </a>
        </div>
        <div class="three columns">
          <a href="#" class="lining-option {{#ifeq lining "marine"}}selected{{/ifeq}}" data-id="marine">
            <img src="{{imgSrc "customizations/suits/linings/marine.jpg"}}">
            <span class="label">Marine</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "navy"}}selected{{/ifeq}}" data-id="navy">
            <img src="{{imgSrc "customizations/suits/linings/navy.jpg"}}">
            <span class="label">Navy</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "purple"}}selected{{/ifeq}}" data-id="purple">
            <img src="{{imgSrc "customizations/suits/linings/phos-purple.jpg"}}">
            <span class="label">Purple</span>
          </a>
        </div>
        <div class="three columns">
          <a href="#" class="lining-option {{#ifeq lining "salmon-aqua"}}selected{{/ifeq}}" data-id="salmon-aqua">
            <img src="{{imgSrc "customizations/suits/linings/phos-salmon-aqua.jpg"}}">
            <span class="label">Salmon Aqua</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "powder-blue"}}selected{{/ifeq}}" data-id="powder-blue">
            <img src="{{imgSrc "customizations/suits/linings/powder-blue.jpg"}}">
            <span class="label">Powder Blue</span>
          </a>
          <a href="#" class="lining-option {{#ifeq lining "salmon"}}selected{{/ifeq}}" data-id="salmon">
            <img src="{{imgSrc "customizations/suits/linings/salmon.jpg"}}">
            <span class="label">Salmon</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns button-row">
          <a href="#" class="button advance-slide">Select</a>
        </div>
      </div>
    </li>
    <li class="customization-wrapper two-item" data-type="monogram">
      <p>Monogramming can be up to 15 characters, usually used for your name (i.e. "Richard Feynman" or "R.P.F." or
        "R. Feynman"). It will show up on the inside of your jacket above the left breast pocket. Feel free to put
        whatever you want here, just keep in mind that people will see it when you are showing off your envy-inducing
        lining.</p>
      <div href="#" class="customization-option">
        <img src="{{imgSrc "customizations/suits/monogram.png"}}" class="monogram">
      </div>
      <div class="customization-option">
        <form id="monogram-form">
          <label>Monogram (15 character max)</label>
          <input type="text" name="monogram" maxlength="15" value="{{monogram}}">
          <input type="submit" class="button full-width" value="Ok">
        </form>
      </div>
    </li>
    <li class="customization-wrapper two-item" data-type="pick_stitching">
      <p>Pick stitching really emphasizes the stitching on your suit making it clear that you went with a tailored
        option. This is a fairly bold look, so we recommend opting out unless you are familiar with the look and know
        you want it.
      </p>
      <a href="#" class="customization-option {{#ifeq pick_stitching false}}selected{{/ifeq}}" data-option="false">
        <h5>No</h5>
        <img src="{{imgSrc "customizations/suits/pick-stitching-no.png"}}" class="pick-stitching">
        <div class="recommended">
          <img src="{{imgSrc "logos/logo-stitch.png"}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option {{#ifeq pick_stitching true}}selected{{/ifeq}}" data-option="true">
        <h5>Yes (+${{pickStitchingPrice}})</h5>
        <img src="{{imgSrc "customizations/suits/pick-stitching-yes.png"}}" class="pick-stitching">
      </a>
    </li>
    <li class="customization-wrapper" data-type="vest">
      <p>Do you want to make your suit a three-piece? You can add a matching vest to your suit order for $79. A
        three-piece suit is sure to draw looks and makes a bold statement that you are serious about your style game.</p>
      <a href="#" class="customization-option three vest {{#ifeq vest 0}}selected{{/ifeq}}" data-option="0">
        <h5>No Vest (+$0)</h5>
        <img src="{{imgSrc "customizations/suits/vest-no.png"}}">
      </a>
      <a href="#" class="customization-option three vest {{#ifeq vest 3}}selected{{/ifeq}}" data-option="3">
        <h5>3 Buttons (+${{vestPrice}})</h5>
        <img src="{{imgSrc "customizations/suits/vest-three.png"}}">
      </a>
      <a href="#" class="customization-option three vest {{#ifeq vest 4}}selected{{/ifeq}}" data-option="4">
        <h5>4 Buttons (+${{vestPrice}})</h5>
        <img src="{{imgSrc "customizations/suits/vest-four.png"}}">
      </a>
      <a href="#" class="customization-option three vest {{#ifeq vest 5}}selected{{/ifeq}}" data-option="5">
        <h5>5 Buttons (+${{vestPrice}})</h5>
        <img src="{{imgSrc "customizations/suits/vest-five.png"}}">
      </a>
    </li>
    <li class="customization-wrapper" data-type="checkout">
      <div class="customization-summary row">
        {{> customizationCheckoutSuit}}
      </div>
    </li>
  </ul>
</div>
<div class="row prev-next-row">
  <div class="six columns previous-col">
    <a href="#" class="button previous" style="display: none;">Previous</a>
  </div>
  <div class="six columns next-col">
    <a href="#" class="button next">Next</a>
  </div>
</div>