<p>Please read over your customizations one last time and ensure that they are correct. If you need to change any customizations, click on any of the categories below
  to input your new customization.
</p>
<ul class="four columns">
  {{#if chooseFabric}}
    <li><a href="#" class="label" data-type="swatch">Fabric:</a> {{titleize fabric}}</li>
  {{/if}}
  <li><a href="#" class="label" data-type="lapel">Lapel:</a> {{uppercaseFirst lapel}}</li>
  <li><a href="#" class="label" data-type="buttons">Buttons:</a> {{numberToString buttons}}</li>
  <li><a href="#" class="label" data-type="vents">Vents:</a> {{numberToString vents}}</li>
  <li><a href="#" class="label" data-type="pleats">Pleats:</a> {{numberToString pleats}}</li>
  <li><a href="#" class="label" data-type="pant_cuffs">Cuffs:</a> {{#if pant_cuffs}}Yes{{else}}No{{/if}}</li>
</ul>
<ul class="four columns">
  <li><a href="#" class="label" data-type="fit">Fit:</a> {{uppercaseFirst fit}}</li>
  <li><a href="#" class="label" data-type="lining">Lining:</a> {{titleize lining}}</li>
  <li><a href="#" class="label" data-type="monogram">Monogram:</a> {{#ifGreaterThan monogram.length 0}}{{monogram}}{{else}}None{{/ifGreaterThan}}</li>
  <li><a href="#" class="label" data-type="pick_stitching">Pick Stitching:</a> {{#if pick_stitching}}Yes (+${{pickStitchingPrice}}) {{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="vest">Vest:</a> {{#ifGreaterThan vest 0}} {{vest}} Buttons (+${{vestPrice}}){{else}}No{{/ifGreaterThan}}</li>
</ul>
<div class="four columns">
  <ul>
    <li><span class="label">Total cost:</span> ${{decimalToInteger price}}</li>
  </ul>
  {{#if isNew}}
    <a href="#" class="button add-to-cart"><img src="{{imgSrc "icons/shopping-cart.png"}}"> Add To Cart</a>
  {{else}}
    <a href="#" class="button save-changes">Save Changes</a>
  {{/if}}
</div>