<div class="twelve columns">
  <p>{{text}}</p>
</div>

{{#if confirmOnly}}
  <div class="twelve columns">
    <a href="#" class="confirm button">{{confirmText}}</a>
  </div>
{{else}}
  <div class="six columns">
    <a href="#" class="confirm button">{{confirmText}}</a>
  </div>
  <div class="six columns">
    <a href="#" class="cancel button">{{cancelText}}</a>
  </div>
{{/if}}

{{#if facebookPixel}}
  <div class="facebook-pixel-add-to-cart"></div>
{{/if}}
