<div class="row">
  <div class="twelve columns">
    <p class="accept-text">Please read over your measurements one last time and ensure that they are correct. If they
      look good, click "Accept" to continue. If you need to change any measurement, click on any of the categories below
      to input your corrected measurements before clicking “Accept” to continue.
    </p>
  </div>
</div>

<div class="three columns">
  <ul class="measurement-summary-list">
    <li data-measurement="age"><a href="#" class="label" data-index="1">Age:</a> {{#if age}} {{age}} {{else}} N/A {{/if}}</li>
    <li data-measurement="height"><a href="#" class="label" data-index="1">Weight:</a> {{#if weight}} {{weight}} lbs {{else}} N/A {{/if}} </li>
    <li data-measurement="weight"><a href="#" class="label" data-index="1">Height:</a> {{#if height}} {{height}}" {{else}} N/A {{/if}}</li>
  </ul>
</div>
  
<div class="three columns">
  <ul class="measurement-summary-list">
    <li data-measurement="neck"><a href="#" class="label" data-index="2">Neck:</a> {{neck}}"</li>
    <li data-measurement="chest"><a href="#" class="label" data-index="3">Chest:</a> {{chest}}"</li>
    <li data-measurement="front"><a href="#" class="label" data-index="4">Front:</a> {{front}}"</li>
    <li data-measurement="stomach"><a href="#" class="label" data-index="5">Stomach:</a> {{stomach}}"</li>
    <li data-measurement="waist"><a href="#" class="label" data-index="6">Waist:</a> {{waist}}"</li>
  </ul>
</div>

<div class="three columns">
  <ul class="measurement-summary-list">
    <li data-measurement="hips"><a href="#" class="label" data-index="7">Hips:</a> {{hips}}"</li>
    <li data-measurement="full_shoulders"><a href="#" class="label" data-index="8">Full Shoulders:</a> {{full_shoulders}}"</li>
    <li data-measurement="back"><a href="#" class="label" data-index="9">Back:</a> {{back}}"</li>
    <li data-measurement="arm_length"><a href="#" class="label" data-index="10">Arm Length:</a> {{arm_length}}"</li>
    <li data-measurement="bicep"><a href="#" class="label" data-index="11">Bicep:</a> {{bicep}}"</li>
  </ul>
</div>

<div class="three columns">
  <ul class="measurement-summary-list">
    <li data-measurement="wrist"><a href="#" class="label" data-index="12">Wrist:</a> {{wrist}}"</li>
    <li data-measurement="jacket_length"><a href="#" class="label" data-index="13">Jacket Length:</a> {{jacket_length}}"</li>
    {{#unless shirtOnly}}
      <li data-measurement="crotch"><a href="#" class="label" data-index="14">Crotch:</a> {{crotch}}"</li>
      <li data-measurement="thigh"><a href="#" class="label" data-index="15">Thigh:</a> {{thigh}}"</li>
      <li data-measurement="pant_length"><a href="#" class="label" data-index="16">Pant Length:</a> {{pant_length}}"</li>
    {{/unless}}
  </ul>
</div>