<a class="close-reveal-modal">&#215;</a>
<div class="row">
  <h2 class="eight columns">{{name}}<span class="divider">&nbsp;//&nbsp;</span>${{decimalToInteger price}}</h2>
</div>
<div class="row">
  <div class="five columns preview-wrapper">
    <ul class="modal-suit-preview three columns">
      {{#each product_images}}
        <li><a href="#" class="switch-image" data-id="{{id}}"><img src="{{imgSrc thumbnail}}"></a></li>
      {{/each}}
    </ul>
    <div class="magnify nine columns">
      <img class="magnify-small" src="{{imgSrc defaultProductImage.regular}}">
      <p>Hover to magnify</p>
    </div>
  </div>
  <div class="seven columns">
    <div class="image-magnified" style="display: none;">
      <img class="magnify-large" src="{{imgSrc defaultProductImage.large}}">
    </div>
    <div class="product-summary">
      <h4>{{summary}}</h4>
      <p class="blurb">{{description}}</p>
      {{#if customizable}}
        <a href="#" class="customize button large full-width">Customize</a>
      {{else}}
        <a href="#" class="add-to-cart-no-customization button large full-width">Add to Cart</a>
      {{/if}}
    </div>
  </div>
</div>
