<a href="/products/{{slug}}"><img src="{{defaultProductImage.medium}}"></a>
<div class="product-info-wrapper">
  <div class="product-info">
    <div class="product-name">
      <a href="/products/{{slug}}">{{name}} <span class="divider">//</span> <span class="dollar">$</span>{{decimalToInteger price}}</a>
    </div>
  </div>
</div>
