<%= form_for address, as: :address, url: { action: action } do |f| %>
  <%= f.label 'Name' %>
  <%= f.text_field :name %>
  <%= f.label 'Address' %>
  <%= f.text_field :line1 %>
  <%= f.label 'Address 2 (Optional)' %>
  <%= f.text_field :line2 %>
  <div class="row">
    <div class="six columns">
      <%= f.label 'City' %>
      <%= f.text_field :city %>
    </div>
    <div class="three columns">
      <%= f.label 'State' %>
      <%= f.select :state, us_states, {}, class: 'state-dropdown' %>
    </div>
    <div class="three columns">
      <%= f.label 'Zip' %>
      <%= f.text_field :zip %>
    </div>
  </div>
  <% if phone %>
    <%= f.label 'Phone Number' %>
    <%= f.text_field :phone_number %>
  <% end %>
  <%= f.submit 'Submit', class: 'button large full-width' %>
<% end %>