<div id="measurements" class="content-wrapper">
  <h2>Measurements</h2>
  <h5>Grab a friend and a tape measure and follow these tutorial videos to take and input 15 easy measurements.</h5>
  <ul class="progress-bar">
    <li><%= progress_current %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
    <li><%= progress_todo %></li>
  </ul>
  <ul class="measurements-list">
    <% measurement_metadata.each_with_index do |measurement, index| %>
      <%= render partial: "measurement_slide", locals: { measurement: measurement, index: index} %>
    <% end %>
    <li class="measurement-list-item measurement-summary"></li>
  </ul>
  <div class="six columns">
    <a href="#" class="button previous" style="display: none;">Previous</a>
  </div>
  <div class="six columns">
    <a href="#" class="button next">Next</a>
  </div>
</div>

<script>
  $(function() {
    var model;

    <% if @measurement.new_record? %>
      model = new TR.Models.Measurement();
    <% else %>
      model = new TR.Models.Measurement(<%= @measurement.to_json(except: [:created_at, :updated_at, :user_id]).html_safe %>);
    <% end %>

    new TR.Views.Measurements({model: model });
  });
</script>