<% title_helper('Measurements') %>

<div id="measurements">
  <%= render 'shared/checkout_progress', current: :measurements %>
  <div class="row content-wrapper">
    <div class="twelve columns">
      <h2>Measurements</h2>
      <h5>Grab a friend and a tape measure and follow these tutorial videos to take and enter <%= @num_measurements %>
        easy measurements.</h5>
      <div class="outlined">
        <ul class="progress-bar">
          <li class="selected"></li>
          <% (@num_measurements + 2).times do %>
            <li></li>
          <% end %>
        </ul>
        <div class="row">
          <div class="six columns previous-col">
            <a href="#" class="button previous" style="display: none;">Previous</a>
          </div>
          <div class="six columns next-col">
            <a href="#" class="button next" style="display: none;">Next</a>
          </div>
        </div>
        <ul class="measurements-list">
          <li class="measurement-overview" data-measurement="overview">
            <div class="row">
              <div class="six columns">
                <h4>How to Measure</h4>
                <p>There are two ways that you can measure yourself. You can either follow along with our step-by-step
                  measurement guide, or <%= link_to 'schedule a tailoring', schedule_tailoring_path %> and we will reimburse
                  you for the cost.</p>
                <p>If you don't know your measurements already, click "Begin" to proceed with our step-by-step guide.</p>
                <%= link_to 'Begin', '#', class: 'button full-width large begin' %>
              </div>
              <div class="six columns">
                <h4>Quick Fill</h4>
                <p>Already know your measurements? Enter them below and click "Accept" to skip over our
                  step-by-step measurement guide.</p>
                <%= form_for @measurement, url: '', html: { class: 'quick-measurement-form' } do |f| %>
                  <div class="four columns">
                    <%= f.label :age %>
                    <%= f.text_field :age %>
                  </div>
                  <div class="four columns">
                    <%= f.label :height, 'Height (in.)' %>
                    <%= f.text_field :height %>
                  </div>
                  <div class="four columns">
                    <%= f.label :weight, 'Weight (lbs)' %>
                    <%= f.text_field :weight %>
                  </div>
                  <div class="four columns">
                    <%= f.label :neck %>
                    <%= f.text_field :neck, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :waist %>
                    <%= f.text_field :waist, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :arm_length %>
                    <%= f.text_field :arm_length, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :stomach %>
                    <%= f.text_field :stomach, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :chest %>
                    <%= f.text_field :chest, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :hips %>
                    <%= f.text_field :hips, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :bicep %>
                    <%= f.text_field :bicep, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :back %>
                    <%= f.text_field :back, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :full_shoulders %>
                    <%= f.text_field :full_shoulders, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :wrist %>
                    <%= f.text_field :wrist, class: 'quick-measurement-input' %>
                  </div>
                  <div class="four columns">
                    <%= f.label :jacket_length %>
                    <%= f.text_field :jacket_length, class: 'quick-measurement-input' %>
                  </div>
                  <% unless @shirt_only %>
                    <div class="four columns">
                      <%= f.label :pant_length %>
                      <%= f.text_field :pant_length, class: 'quick-measurement-input' %>
                    </div>
                    <div class="four columns">
                      <%= f.label :crotch %>
                      <%= f.text_field :crotch, class: 'quick-measurement-input' %>
                    </div>
                    <div class="four columns">
                      <%= f.label :thigh %>
                      <%= f.text_field :thigh, class: 'quick-measurement-input' %>
                    </div>
                  <% end %>
                  <ul class="error error-list"></ul>
                  <%= link_to 'Accept', '#', class: 'button full-width large accept-quick' %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="height-age-weight" data-measurement="body_type">
            <div class="row">
              <div class="six columns">
                <h4>Body Type</h4>
                <p>In order to build a suit that fits you perfectly, it helps to know your body type. Add more to this copy...</p>
              </div>
              <div class="six columns">
                <div class="row">
                  <%= form_for @measurement, url: '', html: { class: 'height-age-weight' } do |f| %>
                    <ul class="error error-list"></ul>
                    <div class="four columns">
                      <%= f.label :age %>
                      <%= f.text_field :age %>
                    </div>
                    <div class="four columns">
                      <%= f.label :height, 'Height (in.)' %>
                      <%= f.text_field :height %>
                    </div>
                    <div class="four columns">
                      <%= f.label :weight, 'Weight (lbs)' %>
                      <%= f.text_field :weight %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
          <% measurement_metadata(@shirt_only).each do |measurement, metadata| %>
            <%= render "measurement_slide", measurement: measurement, metadata: metadata, is_https: @is_https %>
          <% end %>
          <li class="measurement-summary" data-measurement="review"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var model = new TR.Models.Measurement(<%= @measurement.to_json(except: [:created_at, :updated_at, :user_id, :order_id]).html_safe unless @measurement.new_record? %>);
    new TR.Views.Measurements({
      model: model,
      lineItemCount: <%= @cart.num_items %>,
      shirtOnly: <%= @shirt_only %>,
      signedIn: <%= @signed_in %>,
      initialSlide: '<%= @initial_slide %>'
    });
  });
</script>