<% title_helper('Measurements') %>

<div id="measurements">
  <%= render 'shared/checkout_progress', current: :measurements %>
  <div class="row content-wrapper">
    <div class="twelve columns">
      <h2>Measurements</h2>
      <h5>Grab a friend and a tape measure and follow these tutorial videos to take and enter <%= @num_measurements %>
        easy measurements.</h5>
      <div class="outlined">
        <ul class="progress-bar">
          <li class="selected"></li>
          <% (@num_measurements + 2).times do %>
            <li></li>
          <% end %>
        </ul>
        <div class="row">
          <div class="six columns previous-col">
            <a href="#" class="button previous" style="display: none;">Previous</a>
          </div>
          <div class="six columns next-col">
            <a href="#" class="button next" style="display: none;">Next</a>
          </div>
        </div>
        <ul class="measurements-list">
          <li class="measurement-overview" data-measurement="overview">
            <div class="row">
              <div class="six columns">
                <h4>Measure Yourself</h4>
                <p>Follow along with our step-by-step measurement guide to measure yourself. All you need is a tape
                measure and a friend to help. The whole process will only take 10-15 minutes.</p>
                <%= link_to 'Begin', '#', class: 'button full-width large begin' %>
                <p>Already know your measurements? <%= link_to 'Skip to the end of our guide', '#', class: 'skip-to-end' %>
                  and enter them in our quick-fill form.
                </p>
              </div>
              <div class="six columns">
                <h4>Schedule a Tailor</h4>
                <p>Don't feel confident with your friend's measuring capabilities? Schedule a tailor and we will send
                  you the details of the nearest Tailored Republic preferred tailor in your area.</p>
                  <%= link_to 'Schedule a Tailor', new_schedule_tailor_request_path, class: 'button full-width large' %>
              </div>
            </div>
          </li>
          <li class="height-age-weight" data-measurement="body_type">
            <div class="row">
              <div class="six columns">
                <h4>Body Type</h4>
                <p>In order to build a suit that fits you perfectly, it helps to know your body type. Simply knowing
                  your age, height, and weight will go a long ways in enabling us to use past data and experience to
                  quickly build a profile of you that we can crosscheck against your measurements.</p>
              </div>
              <div class="six columns">
                <div class="row">
                  <%= form_for @measurement, url: '', html: { class: 'height-age-weight' } do |f| %>
                    <%= f.label :age %>
                    <%= f.text_field :age %>
                    <%= f.label :height, 'Height (in.)' %>
                    <%= f.text_field :height %>
                    <%= f.label :weight, 'Weight (lbs)' %>
                    <%= f.text_field :weight %>
                  <% end %>
                </div>
              </div>
            </div>
            <ul class="error error-list"></ul>
          </li>
          <% measurement_metadata(@only_shirts).each do |measurement, metadata| %>
            <%= render "measurement_slide", measurement: measurement, metadata: metadata, is_https: @is_https %>
          <% end %>
          <li class="measurement-summary" data-measurement="review"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var model = new TR.Models.Measurement(<%= @measurement.to_json(except: [:created_at, :updated_at, :user_id, :order_id]).html_safe unless @measurement.new_record? %>);
    new TR.Views.Measurements({
      model: model,
      lineItemCount: <%= @cart.num_items %>,
      onlyShirts: <%= @only_shirts %>,
      signedIn: <%= @signed_in %>,
      initialSlide: '<%= @initial_slide %>',
      signUpMethod: '<%= User::SIGN_UP_METHOD_MEASUREMENTS %>'
    });
  });
</script>