<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Somebody wants a tape measure mailed to them.</h1>
<p>Name: <%= @address.name %></p>
<p>Line 1: <%= @address.line1 %></p>
<p>Line 2: <%= @address.line2 %></p>
<p>City: <%= @address.city %></p>
<p>State: <%= @address.state %></p>
<p>Zip: <%= @address.zip %></p>
</body>
</html>