<%= form_for(@product) do |f| %>
  <%= render 'shared/form_errors', resource: @product %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :category %>
  <%= f.enum_select :category %>
  <%= f.label :subcategory %>
  <%= f.text_field :subcategory %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :summary %>
  <%= f.text_field :summary %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.label :fabric_id %>
  <%= f.text_field :fabric_id %>
  <%= f.label :display_order %>
  <%= f.text_field :display_order %>
  <%= f.radio_button :top_pick, "true" %>
  <%= f.label 'Top Pick (yes)' %>
  <%= f.radio_button :top_pick, "false" %>
  <%= f.label 'Top Pick (no)' %>
  <%= f.label 'New Photos' %>
  <%= f.fields_for :product_photos do |photo| %>
    <div>
      <% if photo.object.new_record? %>
        <%= photo.file_field :photo %>
      <% end %>
    </div>
  <% end %>
  <%= f.label 'Existing Photos' %>
  <ul>
    <%= f.fields_for :product_photos do |photo| %>
      <% unless photo.object.new_record? %>
        <li class="thumbnail outlined">
          <p><%= photo.object.photo_file_name %></p>
          <%= link_to(image_tag(photo.object.photo.url(:small)), photo.object.photo.url(:original)) %>
          <label>Default photo <%= photo.check_box :default_photo, class: 'default-photo-checkbox' %></label>
          <label>Delete? <%= photo.check_box :_destroy %></label>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= f.submit class: "button" %>
<% end %>

<script>
  $(function() {
    $('.default-photo-checkbox').on('click', function(e) {
      $('.default-photo-checkbox:checked').removeAttr('checked');
      $(this).prop('checked', true)
    });
  });
</script>