<div class="content-wrapper">
  <div class="dashed-bottom">
    <%= link_to "Back To #{@category.capitalize}", "/shop/#@category", class: 'button' %>
  </div>
  <h2><%= @product.name %><span class="divider">&nbsp;//&nbsp;</span>$<%= @product.display_price %></h2>
  <div class="row dashed-bottom">
    <div class="five columns preview-wrapper">
      <ul class="thumbnail-list three columns">
        <% @product.product_photos.each do |photo| %>
          <li><%= link_to image_tag(photo.photo.url(:small)), '#', data: { id: photo.id }, class: 'switch-image' %></li>
        <% end %>
      </ul>
      <div class="magnify nine columns">
        <%= image_tag @product.default_photo.photo.url(:medium), class: 'magnify-small' unless @product.default_photo.nil? %>
        <p>Hover to magnify</p>
      </div>
    </div>
    <div class="seven columns outlined">
      <div class="image-magnified" style="display: none;">
        <%= image_tag @product.default_photo.photo.url(:original), class: 'magnify-large' unless @product.default_photo.nil? %>
      </div>
      <div class="product-summary">
        <h4><%= @product.summary %></h4>
        <p class="blurb"><%= @product.description %></p>
        <% if @product.customizable? %>
          <%= link_to 'Customize', '#', class: 'customize button large full-width' %>
        <% else %>
          <%= link_to 'Add to Cart', '#', class: 'add-to-cart-no-customization button large full-width' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Reviews</h3>
    <div class="twelve columns outlined">
      <% if user_signed_in? %>
        <% if current_user.can_review_product?(@product) %>
          <%= link_to 'Add Review', new_product_review_path(@product), class: 'button margin-bottom' %>
        <% else %>
          <p>You have already submitted a review for this product.
            <%= link_to 'Edit your review.', edit_product_review_path(@product, current_user.find_review_by_product(@product)) %></p>
        <% end %>
      <% else %>
        <p><%= link_to 'Login or sign up', new_user_session_path %> to add a new review for this product.</p>
      <% end %>
      <% if @reviews.length > 0 %>
        <h4>Overall Rating <%= render 'reviews/stars', editable: false, num_stars: @product.average_rating %></h4>
        <%= render 'reviews/review_list', reviews: @reviews %>
      <% else %>
        <p>No reviews have been added for this product yet.</p>
      <% end %>
    </div>
  </div>
</div>

<script>
  var product = new TR.Models.Product(<%= @product.to_json.html_safe %>);
  var paginatedReviewPath = '<%= paginated_product_reviews_path(@product) %>';
  new TR.Views.Product({model: product, paginatedReviewPath: paginatedReviewPath});
</script>