<div class="content-wrapper">
  <div class="twelve columns">
    <h2><%= @product.name %><span class="divider">&nbsp;//&nbsp;</span>$<%= @product.display_price %></h2>
  </div>
  <div class="row product-row">
    <div class="five columns preview-wrapper">
      <ul class="modal-suit-preview three columns">
        <% @product.product_photos.each do |photo| %>
          <li><%= link_to image_tag(photo.photo.url(:small)), '#', data: { id: photo.id }, class: 'switch-image' %></li>
        <% end %>
      </ul>
      <div class="magnify nine columns">
        <%= image_tag @product.default_photo.photo.url(:medium), class: 'magnify-small' %>
        <p>Hover to magnify</p>
      </div>
    </div>
    <div class="seven columns outlined">
      <div class="image-magnified" style="display: none;">
        <%= image_tag @product.default_photo.photo.url(:original), class: 'magnify-large' %>
      </div>
      <div class="product-summary">
        <h4><%= @product.summary %></h4>
        <p class="blurb"><%= @product.description %></p>
        <% if @product.customizable? %>
          <%= link_to 'Customize', '#', class: 'customize button large full-width' %>
        <% else %>
          <%= link_to 'Add to Cart', '#', class: 'add-to-cart-no-customization button large full-width' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Reviews</h3>
    <% if user_signed_in? %>
      <%= link_to 'Add Review', "/products/#{@product.slug}/reviews/new", class: 'button margin-bottom' %>
    <% end %>
    <div class="twelve columns outlined">
      <% if @product.accepted_reviews.length > 0 %>
        <h5>Average Rating: <%= render 'reviews/stars', num_stars: @product.average_rating %></h5>
        <ul class="reviews-list">
          <% @product.accepted_reviews.take(5).each do |review| %>
            <li>
              <p class="bold"><%= review.rating %> Stars <span class="divider">//</span> <%= review.user.name %></p>
              <p><%= simple_format review.summary %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<script>
  var product = new TR.Models.Product(<%= @product.to_json.html_safe %>);
  new TR.Views.ShowProduct({model: product});
</script>