<footer id="info">
  <div class="content-wrapper">
    <div class="strikethrough"></div>
    <div class="three columns">
      <h5 class="expandable">CUSTOMER SERVICE<span>+</span></h5>
      <ul class="hide-small">
        <li><%= link_to 'FAQ', faq_path %></li>
        <li><%= link_to 'TR Team', team_path %></li>
        <li><%= link_to 'Schedule A Tailor', new_schedule_tailor_request_path %></li>
        <li><%= link_to 'Get A Free Measuring Tape', new_tape_measure_request_path %></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="expandable">ETCETERA<span>+</span></h5>
      <ul class="hide-small">
        <li><%= link_to 'Testimonials', testimonials_path %></li>
        <li><%= link_to 'Refer a Friend', referrals_path %></li>
        <li><%= link_to 'Weddings', weddings_path %></li>
        <li><%= link_to 'Gift Cards', gift_cards_path %></li>
        <li><%= link_to 'Partners', partners_path %></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="expandable">CONTACT<span>+</span></h5>
      <ul class="hide-small">
        <li>
          <strong>E</strong>&nbsp;//&nbsp;<a href="mailto:info@tailoredrepublic.com">info@tailoredrepublic.com</a>
        </li>
        <li><strong>#</strong>&nbsp;//&nbsp;218-3-TAILOR (218-382-4567)</li>
        <li class="social">
          <%= link_to image_tag('icons/social/facebook-icon.png'), 'http://www.facebook.com/TailoredRepublic', target: '_blank' %>
          <%= link_to image_tag('icons/social/twitter-icon.png'), 'https://twitter.com/T_Republic', target: '_blank' %>
          <%= link_to image_tag('icons/social/instagram-icon.png'), 'http://instagram.com/tailoredrepublic', target: '_blank' %>
          <%= link_to image_tag('icons/social/tumblr-icon.png'), 'http://blog.tailoredrepublic.com', target: '_blank' %>
          <%= link_to image_tag('icons/social/email-icon.png'), 'mailto:info@tailoredrepublic.com' %>
        </li>
      </ul>
    </div>
    <div class="three columns">
      <h5>SUBSCRIBE</h5>
      <ul>
        <li>// Join the Tailored Republic</li>
      </ul>
      <%= form_tag subscribe_to_newsletter_path do %>
        <%= text_field_tag :email, '', placeholder: 'enter email...' %>
        <%= submit_tag 'SUBMIT' %>
      <% end %>
    </div>
    <div class="twelve columns">
      <ul>
        <li class="copyright">
          &copy; Tailored Republic, 2013. All rights reserved. <%= link_to 'Terms of Service', '/terms-of-service' %> // <%= link_to 'Privacy Policy', '/privacy-policy' %>
        </li>
      </ul>
    </div>
  </div>
</footer>