<nav>
  <ul>
    <li class="home">
      <a href="/#home">Home</a>
      <div class="sub-nav home-nav" style="display: none;">
        <ul>
          <li class="process"><a href="/#process">The Process</a></li>
          <li class="top-picks"><a href="/#top-picks">Top Picks</a></li>
          <li class="about"><a href="/#about">About</a></li>
          <li class="lookbook"><a href="/#lookbook">Lookbook</a></li>
        </ul>
      </div>
    </li>
    <li class="process hide-small"><a href="/#process">The Process</a></li>
    <li class="top-picks hide-small"><a href="/#top-picks">Top Picks</a></li>
    <li class="about hide-small"><a href="/#about">About</a></li>
    <li class="lookbook hide-small"><a href="/#lookbook">Lookbook</a></li>
    <li class="shop">
      <a href="/shop" class="toggle-shop">Shop</a>
      <div class="sub-nav shop-nav" style="display: none;">
        <ul>
          <li><a href="/shop/suits">Suits</a></li>
          <li><a href="/shop/shirts">Shirts</a></li>
          <li><a href="/shop/pants">Pants</a></li>
          <li><a href="/shop/accessories">Accessories</a></li>
        </ul>
      </div>
    </li>
    <li class="cart">
      <a href="/cart">
        <%= image_tag "icons/shopping-cart.png" %>(<span class="num-items"><%= @cart.num_items %></span>)
      </a>
    </li>
    <li class="login-register">
      <% if user_signed_in?  %>
        <a href="#" class="username"><%= current_user.name %></a>
        <div class="sub-nav user-nav" style="display: none;">
          <ul>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><a href="#">Order History</a></li>
          </ul>
        </div>
        <span class="divider">//</span>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      <% else %>
        <a href="/users/sign_in" class="login">Login</a>
        <span class="divider">//</span>
        <a href="/users/sign_up">Register</a>
      <% end %>
    </li>
  </ul>
</nav>