<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tailored Republic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tailored Republic" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <div id="main" role="main">
        <%= yield %>
        <footer id="info">
          <div class="content-wrapper">
            <div class="strikethrough"></div>
            <div class="three columns">
              <h5>CUSTOMER SERVICE</h5>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Measurements</a></li>
                <li><a href="#">Get A Free Measuring Tape</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h5>ETCETERA</h5>
              <ul>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Get #Tailored Kit</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h5>CONTACT</h5>
              <ul>
                <li>
                  <strong>E</strong>&nbsp;//&nbsp;<a href="mailto:info@tailoredrepublic.com">info@tailoredrepublic.com</a>
                </li>
                <li><strong>#</strong>&nbsp;//&nbsp;213-8-TAILOR (213-382-4567)</li>
                <li class="social">
                  <a href="mailto:info@tailoredrepublic.com">
                    <%= image_tag "icons/email-icon.png" %>
                  </a>
                  <a href="http://www.facebook.com/TailoredRepublic" target="_blank">
                    <%= image_tag "icons/facebook-icon.png" %>
                  </a>
                  <a href="https://twitter.com/T_Republic" target="_blank">
                    <%= image_tag "icons/twitter-icon.png" %>
                  </a>
                  <a href="http://instagram.com/tailoredrepublic" target="_blank">
                    <%= image_tag "icons/instagram-icon.png" %>
                  </a>
                  <a href="http://blog.tailoredrepublic.com" target="_blank">
                    <%= image_tag "icons/tumblr-icon.png" %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="three columns">
              <h5>SUBSCRIBE</h5>
              <ul>
                <li>// Become an affiliate of the republic</li>
              </ul>
              <input type="text" placeholder="enter email...">
              <input type="submit" value="SUBMIT">
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33503063-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
