<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tailored Republic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tailored Republic" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, name: "stripe-key", content: ::STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script>
      TR.ASSET_HOST = '<%= TailoredRepublic::Application.config.action_controller.asset_host.call unless TailoredRepublic::Application.config.action_controller.asset_host.nil? %>';
      if(location.protocol === 'https:') {
        TR.ASSET_HOST = TR.ASSET_HOST.replace('http', 'https');
      }
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <% if controller_name == "home" %>
        <div class="fixed contain-to-grid">
          <%= render "layouts/nav" %>
        </div>
        <div id="main" role="main">
          <%= yield %>
        </div>
      <% else %>
        <div class="contain-to-grid">
          <%= render "layouts/nav" %>
        </div>
        <div id="main" role="main">
          <div id="flashes">
            <% flash.each do |key, msg| %>
              <div class="flash <%= key %>">
                <%= msg %>
              </div>
            <% end %>
          </div>
          <%= yield %>
          <div class="clear-footer"></div>
        </div>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33503063-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(function() {
        TR.VEST_PRICE = <%= Product.vest_price %>
        TR.PICK_STITCHING_PRICE = <%= Product.pick_stitching_price %>
        TR.SHIRT_MONOGRAM_PRICE = <%= Product.shirt_monogram_price %>
        new TR.Views.Nav({user: <%= @user_data.to_json.html_safe %>});
        new TR.Views.Footer();
      });
    </script>
  </body>
</html>
