<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tailored Republic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tailored Republic" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <div id="main" role="main">
        <%= yield %>
        <% unless controller_name == "home" %>
          <div class="clear-footer"></div>
        <% end %>
      </div>
      <% unless controller_name == "home" %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33503063-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(function() {
        new TR.Views.Footer();
      });
    </script>
  </body>
</html>
