<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tailored Republic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tailored Republic lets you customize and build high quality made-to-measure suits, with a 100% satisfaction guarantee." %>">
    <meta name="og:title" content="Tailored Republic">
    <meta name="og:image" content="http://d195zx82sfk1xc.cloudfront.net/assets/logos/logo-shield.png">
    <meta name="og:url" content="https://www.tailoredrepublic.com">
    <meta name="og:description" content="Tailored Republic lets you customize and build high quality made-to-measure suits, with a 100% satisfaction guarantee.">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, name: "stripe-key", content: ::STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33503063-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      TR.ASSET_HOST = '<%= TailoredRepublic::Application.config.action_controller.asset_host.call unless TailoredRepublic::Application.config.action_controller.asset_host.nil? %>';
      if(location.protocol === 'https:') {
        TR.ASSET_HOST = TR.ASSET_HOST.replace('http', 'https');
      }
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <% if controller_name == "home" %>
        <div class="fixed contain-to-grid">
          <%= render "layouts/nav" %>
        </div>
        <div id="main" role="main">
          <%= yield %>
        </div>
      <% else %>
        <div class="contain-to-grid">
          <%= render "layouts/nav" %>
        </div>
        <div id="main" role="main">
          <div id="flashes">
            <% flash.each do |key, msg| %>
              <div class="flash <%= key %>">
                <%= msg %>
              </div>
            <% end %>
          </div>
          <%= yield %>
          <div class="clear-footer"></div>
        </div>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
    <script type="text/javascript">
      $(function() {
        TR.VEST_PRICE = <%= Product.vest_price %>;
        TR.PICK_STITCHING_PRICE = <%= Product.pick_stitching_price %>;
        TR.SHIRT_MONOGRAM_PRICE = <%= Product.shirt_monogram_price %>;
        TR.ASSET_DIGESTS = <%= AssetDigestCache.get_digest_hash.to_json.html_safe %>;
        TR.ENVIRONMENT = '<%= Rails.env %>';
        TR.CUSTOMIZATIONS = <%= CUSTOMIZATIONS.to_json.html_safe %>
        new TR.Views.Nav({user: <%= @user_data.to_json.html_safe %>});
        new TR.Views.Footer();
      });
    </script>
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/0373.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
